/* Blocks */

section {
    position: relative;
    z-index: 1;
    /* Classes */
    &.page-header {
        flex-direction: column;
        gap: 24px;
        max-width: 980px;
        text-align: center;
        align-items: center;
    }
    &.work {
        max-width: 1200px;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        gap: 80px;

        /* Children */
        div.block {
            gap: 24px;

            /* Children */
            div.item {
                align-items: center;

                /* Children */
                h3 {
                    margin-bottom: 8px;
                }
                a {
                    font-family: var(--nm-ff-body);
                    font-style: italic;
                    font-size: var(--nm-fs-md);
                }
            }
        }
    }
}

div.block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* Children */
    div.item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
