/* Blocks */

section {
    /* Classes */
    &.page-header {
        flex-direction: column;
        gap: 24px;
        max-width: 920px;
        text-align: center;

        p.subtitle {
            font-size: var(--nm-fs-sm);
        }
    }
}
