/* Blocks */

section {
    position: relative;
    z-index: 1;
    /* Classes */
    &.page-header {
        flex-direction: column;
        gap: 24px;
        max-width: 920px;
        text-align: center;
        align-items: center;

        /* Children */

        div.subtitle {
            position: relative;
            max-width: 400px;
        }

        h1 {
            &:hover + p.subtitle span {
                animation-play-state: running;
            }
        }
        p span {
            display: inline-block;
        }
    }
    &.work {
        max-width: 1200px;
        justify-content: space-between;
        text-align: center;

        /* Children */
        div.block {
            gap: 24px;

            /* Children */
            div.item {
                align-items: center;
            }
        }
    }
}

div.block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* Children */
    div.item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
