/* Blocks */

section {
    position: relative;
    z-index: 1;
    /* Classes */
    &.page-header {
        flex-direction: column;
        gap: var(--nm-s-md);
        max-width: var(--nm-mw-lg);
        text-align: center;
        align-items: center;
    }
    &.work {
        max-width: var(--nm-mw-xl);
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        gap: var(--nm-s-xl);

        /* Children */
        div.block {
            gap: var(--nm-s-md);

            /* Children */
            div.item {
                align-items: center;

                /* Children */
                h3 {
                    margin-bottom: var(--nm-s-xs);
                }
                a {
                    font-family: var(--nm-ff-body);
                    font-style: italic;
                    font-size: var(--nm-fs-md);
                }
            }
        }
    }
}

div.block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* Children */
    div.item {
        display: flex;
        flex-direction: column;
        gap: var(--nm-s-xs);
    }
}
