/* Footer */

footer {
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;

    /* Children */
    .noureddine-made-this {
        margin-bottom: -80px;
    }
}
