/* Header */
header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    text-align: left;

    p {
        flex-grow: 2;
        font-family: var(--nm-ff-heading);
        font-size: var(--nm-fs-sm);
        font-weight: var(--nm-fw-regular);
        max-width: 360px;
    }

    a.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-bottom: 32px;

        /* SVG */
        svg path {
            fill: var(--nm-c-logo);
        }

        /* Hover */
        &:hover {
            transform: rotate(180deg);
            background-color: transparent;
        }

        /* Addon Classes */
        &.regular {
            /* Children */
            svg.thick {
                display: none;
            }
        }
        &.thick {
            /* Children */
            svg.regular {
                display: none;
            }
        }
    }
}
