/* Header */

header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    text-align: center;
    max-width: 1440px;

    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;

        /* Children */
        p {
            position: relative;
            z-index: 2;
            font-size: var(--nm-fs-sm);
        }
    }
}
