/* Header */

header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    text-align: center;

    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;

        /* Children */
        p {
            font-size: var(--nm-fs-sm);
        }
    }
}
