/* Navigation */
nav {
    flex-direction: row;
    justify-content: center;
    gap: var(--nm-s-md);
    text-align: left;

    /* Children */
    a {
        font-family: var(--nm-ff-heading);
        font-weight: var(--nm-fw-medium);
        text-transform: uppercase;
        font-style: normal;
    }
}
