---

title: Hey there!
desc: The online portfolio of the designer formerly known as Nuro.

---

<section>

    <div class="content --heading">

        <h1>
            Hello internet pals, I&rsquo;m Noureddine. An end-to-end designer who enjoys working with decent humans. Not dickheads who idolise billionaires.
        </h1>

        <div>

            <a href="mailto:me@noureddine.biz">me@noureddine.biz</a>

            <a href="/assets/pdf/cv-noureddine-azhar-2022.pdf" target="_blank">Resume</a>

            <p>@noureddinemade</p>

        </div>

    </div>

</section>


<section>

    <div class="content">

        <h2>
            What have I been up to?
        </h2>

        <ul class="cases">

            <li class="--featured" data-bg="ffffff">
                <span class="title">🔎 Started looking for my next role</span>
                <a href="/my-next-role/" class="navLink">Please read this first</a>
            </li>

            {% for i in site.work %}

                <li data-bg="{{ i.bg }}">
                    <span class="title">{{ i.emoji }} {{ i.title }}</span>
                    {% if i.video %}<a href="{{ i.video }}" target="_blank">{{ i.videoLabel }}</a>{% endif %}
                    <a href="{{ i.permalink }}" class="navLink">{{ i.linkLabel }} &#9758;</a>
                </li>
                
            {% endfor %}

        </ul>

    </div>
    
</section>

<section>

    <div class="content">

        <h2>Who? Me?</h2>

        <p class="intro">
            I&rsquo;m a Naarm (Melbourne) based creative problem solver with over fifteen years of experience, a desire to do some good and an ass that just won&rsquo;t quit. If you like the sound of that and want to create some stuff and things then <a href="/my-next-role/" class="navLink">please read this first.</a>
        </p>

    </div>

</section>

<script src="/assets/js/home.js"></script>