---

title: Oh, hello there!
desc: This is the home page
class: bg0

---

<section class="pageHeading">

    <div class="content">

        <h1>
            Hello internet pals. I&rsquo;m Noureddine, an end-to-end designer who enjoys working with decent humans. <span class="underline">Not dickheads who idolise billionaires.</span>
        </h1>

    </div>

</section>

<section class="caseStudies">

    <div class="content">

        <h2>
            In the last two years I worked on
        </h2>

        <ul>

            {% for i in site.work %}

                {% if i.highlight == "true" %}

                    <li>
                        <a href="{{ i.permalink }}">
                            {{ i.title }}
                        </a>
                    </li>

                {% endif %}
                
            {% endfor %}

        </ul>

    </div>

    <div class="content">

        <h2>
            And before that I
        </h2>

        <ul>

            {% for i in site.work %}

                {% if i.highlight == "false" %}

                    <li>
                        <a href="{{ i.permalink }}">
                            {{ i.title }}
                        </a>
                    </li>

                {% endif %}
                
            {% endfor %}

        </ul>

    </div>
    
</section>

<section class="general">

    <div class="content">

        <h2>What I bring to the table</h2>

        <p>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, culpa mollitia dicta assumenda animi aliquam minus reprehenderit illo reiciendis, odio impedit hic harum est quis laudantium sint dolorum vel quia? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore neque nobis labore culpa modi a eos odit laudantium doloribus perferendis asperiores aliquam, ex voluptas excepturi, fugit officia nisi at error! 
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non voluptas quidem id aliquam, alias reiciendis autem assumenda blanditiis eum accusamus nam? Eos amet saepe omnis facere voluptatibus, obcaecati culpa.
        </p>

    </div>

</section>

<section class="images">

    <div class="content">

        <img src="/assets/img/blank-img.png" alt="Noureddine Azhar">

    </div>

</section>

<script src="/assets/js/home.js"></script>