<footer>

    <div class="content">

        <p>
            I&rsquo;m a Naarm (Melbourne) based creative problem solver with over fifteen years of experience. I have a desire to do some good and an ass that just won&rsquo;t quit. If you like the sound of that and want to create a good product/experience then <a href="/before-you-contact-me/">please read this</a> before you get in touch.
        </p>

        <nav class="footer">

            <p>
                &copy; Noureddine made this
            </p>

            <ul>
                <li>
                    <a href="https://linkedin.com/in/noureddinemade
                    " target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://codepen.io/noureddinemade" target="_blank">Codepen</a>
                </li>
                <li>
                    <a href="https://github.io/noureddinemade" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://dribbble.com/noureddinemade" target="_blank">Dribbble</a>
                </li>
            </ul> 

        </nav>
        
    </div>

</footer>