<footer>

    <div class="content">

        <p>
            I&rsquo;m a Naarm (Melbourne) based creative problem solver with fifteen years of experience, a desire to do some good and an ass that just won&rsquo;t quit. So if you want to create a good product/experience <a href="">then please read this</a>.
        </p>

        <nav class="footer">

            <p>
                &copy; Noureddine made this
            </p>

            <ul>
                <li>
                    <a href="https://noureddinemade" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://codepen.io/noureddinemade" target="_blank">Codepen</a>
                </li>
                <li>
                    <a href="https://github.io/noureddinemade" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://dribbble.com/noureddinemade" target="_blank">Dribbble</a>
                </li>
            </ul> 

        </nav>
        
    </div>

</footer>