<footer>

    <section>

        <div class="inner">

            <p>
                I&rsquo;m a Melbourne based creative problem solver with over thirteen years of experience, a desire to do some good and an ass that just won&rsquo;t quit. If you value those qualities then I think we&rsquo;d be a perfect fit. So if you want to work together, discuss why <strong>Hobbs &amp; Shaw</strong> is the greatest movie of all time or just want to say hello, <a href="/dealbreakers/" class="link">please read this first.</a>
            </p>

            <ul>
                <li>
                    <a href="https://dribbble.com/noureddinemade" target="_blank" class="link">Dribbble</a>
                </li>
                <li>
                    <a href="https://github.com/noureddinemade" target="_blank" class="link">Github</a>
                </li>
                <li>
                    <a href="https://codepen.io/noureddinemade" target="_blank" class="link">Codepen</a>
                </li>
                <li>
                    <a href="https://instagram.com/noureddinemade" target="_blank" class="link">Instagram</a>
                </li>
                <li>
                    <a href="#" class="link">Back to top</a>
                </li>
                <li class="copyright">
                    &copy; Noureddine made this
                </li>
            </ul>

        </div>

    </section>

</footer>