<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title>Noureddine Azhar • Creative Problem Solver • {{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}" />
    <meta property="og:title" content="Noureddine Azhar • Creative Problem Solver • {{ page.title }}" />
    <meta property="og:description" content="{{ page.desc }}" />
    <meta property="og:image" content="{{ page.img }}" />
    <link rel="image_src" href="{{ page.img }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@noureddinemade" />
    <meta name="twitter:title" content="Noureddine Azhar • Creative Problem Solver • {{ page.title }}" />
    <meta name="twitter:description" content="{{ page.desc }}" />
    <meta name="twitter:image" content="{{ page.img }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/assets/css/main.css">
    <base href="/">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P0SSBF9FD5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P0SSBF9FD5');
</script>


<div class="heyEveryone">
    <video autoplay muted loop>

        <source src="/assets/vid/heyEveryone.mp4" type="video/mp4">
        Your browser does not support the video tag so you&rsquo;re missing out on a dumb video of me looking around.

    </video>
</div>