<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Noureddine Azhar ☻ Creative Problem Solver ☻ {{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}">
    <meta property="og:title" content="Noureddine Azhar ☻ Creative Problem Solver ☻ {{ page.title }}">
    <meta property="og:description" content="{{ page.desc }}">
    <meta property="og:image" content="">
    <link rel="image_src" href="">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@noureddinemade" />
    <meta name="twitter:title" content="Noureddine Azhar • Creative Problem Solver • {{ page.title }}" />
    <meta name="twitter:description" content="{{ page.desc }}" />
    <meta name="twitter:image" content="" />

    <link rel="stylesheet" href="/assets/css/main.css">

</head>