<section>

    <div class="content --heading">

        <h1>
            {{ page.heading }}
        </h1>

        <div>
            {% if page.video %}
                🎬 <a href="#" id="toggleVideo">{{ page.videoLabel }}</a>
            {% endif %}
        </div>

    </div>

</section>

{% if page.video %}
<section id="video">

    <div class="content --video">

        <div style="position: relative; padding-bottom: 53.359683794466406%; height: 0;"><iframe src="https://www.loom.com/embed/{{ page.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

    </div>

</section>
{% endif %}