<ul class="ticker">

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="/before-you-contact-me">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li>@noureddinemade</li>

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="/before-you-contact-me">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li>@noureddinemade</li>

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="/before-you-contact-me">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li>@noureddinemade</li>

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="/before-you-contact-me">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li>@noureddinemade</li>

</ul>