<ul class="ticker">

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="#">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li><a href="https://twitter.com/noureddinemade">@noureddinemade</a></li>

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="#">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li><a href="https://twitter.com/noureddinemade">@noureddinemade</a></li>

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="#">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li><a href="https://twitter.com/noureddinemade">@noureddinemade</a></li>

    <li>Naarm (Melbourne) based creative problem solver</li>

    <li>Wanna get in touch? <a href="#">Please read this first</a></li>

    <li>Branding, product &amp; digital design</li>

    <li><a href="https://twitter.com/noureddinemade">@noureddinemade</a></li>

</ul>