* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--nm-ff-body);
    font-weight: var(--nm-fw-regular);
    font-size: var(--nm-fs-base);
    line-height: var(--nm-lh-base);
    letter-spacing: var(--nm-ls-base);
    background-color: var(--nm-c-bg-border);
    color: var(--nm-c-body);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
