* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--nm-ff-body);
    font-variation-settings: "wght" var(--nm-fw-regular);
    font-size: var(--nm-fs-base);
    line-height: var(--nm-lh-base);
    letter-spacing: var(--nm-ls-base);
    background-color: var(--nm-c-bg-border);
    color: var(--nm-c-body);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* prettier-ignore */
    cursor: url("/asset/img/cursor/arrow.svg") 0 0, auto;

    a {
        /* prettier-ignore */
        cursor: url("/asset/img/cursor/pointer.svg") 0 0, auto;
    }
}
