body {
    background-color: var(--nm-c-primary);
    color: var(--nm-c-body);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* All Children */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

::selection {
    background-color: var(--nm-c-body);
    color: var(--nm-c-bg);
}

/* For Firefox compatibility */
::-moz-selection {
    background-color: var(--nm-c-body);
    color: var(--nm-c-bg);
}
