* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--nm-ff-mono);
    font-weight: var(--nm-fw-regular);
    font-size: var(--nm-fs-base);
    line-height: var(--nm-lh-base);
    letter-spacing: var(--nm-ls-base);
    background-color: var(--nm-c-bg-border);
    color: var(--nm-c-body);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
<<<<<<< HEAD
    cursor:
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iNTgiIHZpZXdCb3g9IjAgMCAzNiA1OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwLjk5NTEgNTQuOTM0NkgyNy4wMDFWNThIMjAuOTk0MVY1NC45MzY1SDE4LjAwMlY0OC44NDU3SDIwLjk5NTFWNTQuOTM0NloiIGZpbGw9IiMwMDAwMDEiLz4KPHBhdGggZD0iTTI5Ljk5NTEgNTQuOTM2NUgyNy4wMDJWNDguODQ1N0gyOS45OTUxVjU0LjkzNjVaIiBmaWxsPSIjMDAwMDAxIi8+CjxwYXRoIGQ9Ik0yLjk5MzE2IDBWMy4wNDQ5Mkg1Ljk4NzNWNi4wODg4N0g4Ljk5NzA3VjkuMTU0M0g1Ljk4NDM4VjYuMDkwODJIMi45OTMxNlY0OC44NDQ3SDUuOTg3M1Y1MS44ODk2SDBWMEgyLjk5MzE2WiIgZmlsbD0iIzAwMDAwMSIvPgo8cGF0aCBkPSJNMTcuOTk5IDQ4Ljg0NDdIMTQuOTg2M1Y0Mi43MzQ0SDE3Ljk5OVY0OC44NDQ3WiIgZmlsbD0iIzAwMDAwMSIvPgo8cGF0aCBkPSJNMjYuOTk5IDQ4Ljg0NDdIMjQuMDA1OVY0Mi43MzQ0SDI2Ljk5OVY0OC44NDQ3WiIgZmlsbD0iIzAwMDAwMSIvPgo8cGF0aCBkPSJNOC45OTcwNyA0OC44NDM4SDUuOTg0MzhWNDUuNzc4M0g4Ljk5NzA3VjQ4Ljg0MzhaIiBmaWxsPSIjMDAwMDAxIi8+CjxwYXRoIGQ9Ik0xNC45ODU0IDQyLjczNTRIMTEuOTkzMlY0NS43NzkzSDlWNDIuNzM0NEgxMS45OTIyVjM5LjY4OTVIMTQuOTg1NFY0Mi43MzU0WiIgZmlsbD0iIzAwMDAwMSIvPgo8cGF0aCBkPSJNMjkuOTk1MSAzMC41MTM3SDMzLjAwNjhWMzMuNTc3MUgzNi4wMDFWMzkuNjg4NUgyNC4wMDY4VjQyLjczMzRIMjAuOTk0MVYzNi42MjNIMzMuMDA2OFYzMy41NzkxSDI5Ljk5NDFWMzAuNTE0NkgyNy4wMDJWMjcuNDY5N0gyOS45OTUxVjMwLjUxMzdaIiBmaWxsPSIjMDAwMDAxIi8+CjxwYXRoIGQ9Ik0yMC45OTUxIDIxLjM1NzRIMjQuMDA2OFYyNC40MjA5SDI2Ljk5OVYyNy40NjY4SDI0LjAwNTlWMjQuNDIyOUgyMC45OTQxVjIxLjM1ODRIMTguMDAyVjE4LjMxMjVIMjAuOTk1MVYyMS4zNTc0WiIgZmlsbD0iIzAwMDAwMSIvPgo8cGF0aCBkPSJNMTcuOTk5IDE4LjMxMDVIMTQuOTg2M1YxNS4yNDUxSDE3Ljk5OVYxOC4zMTA1WiIgZmlsbD0iIzAwMDAwMSIvPgo8cGF0aCBkPSJNMTEuOTkzMiAxMi4yMDEySDE0Ljk4NTRWMTUuMjQ2MUgxMS45OTIyVjEyLjIwMjFIOVY5LjE1NjI1SDExLjk5MzJWMTIuMjAxMloiIGZpbGw9IiMwMDAwMDEiLz4KPC9zdmc+Cg==")
            0,
        0,
        auto;
=======
    /* prettier-ignore */
    cursor: url("/asset/img/cursor/arrow.svg") 0 0, auto;

    a {
        /* prettier-ignore */
        cursor: url("/asset/img/cursor/pointer.svg") 0 0, auto;
    }
>>>>>>> ea83027cd05eccd9ed22c3a66d3e4007e1cc5379
}
