/* Colours */
:root {
    /* Theme */
    --nm-c-primary: #11ff00;
    --nm-c-secondary: #8aff82;
    --nm-c-dark: #151515;
    --nm-c-light: #ffffff;

    /* Base */
    --nm-c-bg: var(--nm-c-dark);
    --nm-c-bg-border: hsl(from var(--nm-c-dark) h s 7);
    --nm-c-body: var(--nm-c-light);
    --nm-c-heading: var(--nm-c-secondary);
    --nm-c-logo: var(--nm-c-primary);
    --nm-c-logo-hover: var(--nm-c-dark);
    --nm-c-link: var(--nm-c-secondary);
    --nm-c-link-underline: var(--nm-c-primary);
    --nm-c-link-hover: var(--nm-c-dark);
    --nm-c-link-hover-bg: var(--nm-c-primary);
}
