/* Colours */
:root {
    /* Theme */
    --nm-c-primary: #000000;
    --nm-c-secondary: #ffffff;
    --nm-c-dark: #000000;
    --nm-c-light: #ffffff;

    /* Base */
    --nm-c-bg: var(--nm-c-dark);
    --nm-c-body: var(--nm-c-light);
    --nm-c-heading: var(--nm-c-light);
    --nm-c-logo: var(--nm-c-light);
    --nm-c-logo-hover: var(--nm-c-light);
    --nm-c-link: var(--nm-c-light);
    --nm-c-link-underline: var(--nm-c-light);
    --nm-c-link-hover: var(--nm-c-dark);
    --nm-c-link-hover-bg: var(--nm-c-light);
}
