/* Colours */
:root {
    /* Theme */
    --nm-c-primary: #0014d6;
    --nm-c-secondary: #f77435;
    --nm-c-dark: #090909;
    --nm-c-light: #ffffff;

    /* Base */
    --nm-c-bg: var(--nm-c-dark);
    --nm-c-body: var(--nm-c-light);
    --nm-c-heading: var(--nm-c-secondary);
    --nm-c-logo: var(--nm-c-light);
    --nm-c-logo-hover: var(--nm-c-primary);
    --nm-c-link: var(--nm-c-light);
    --nm-c-link-underline: var(--nm-c-primary);
    --nm-c-link-hover: var(--nm-c-light);
    --nm-c-link-hover-bg: var(--nm-c-primary);
}
