/* Fonts */

@font-face {
    font-family: "Molen Dream";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/asset/font/molen-dream.woff2") format("woff2");
    src: url("/asset/font/molen-dream.woff") format("woff");
}

@font-face {
    font-family: "Metro Sans";
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url("/asset/font/metro-sans-regular.woff2") format("woff2");
    src: url("/asset/font/metro-sans-regular.woff") format("woff");
}
@font-face {
    font-family: "Metro Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/asset/font/metro-sans-regular-italic.woff2") format("woff2");
    src: url("/asset/font/metro-sans-regular-italic.woff") format("woff");
}
@font-face {
    font-family: "Metro Sans";
    font-style: regular;
    font-weight: 600;
    font-display: swap;
    src: url("/asset/font/metro-sans-semi-bold.woff2") format("woff2");
    src: url("/asset/font/metro-sans-semi-bold.woff") format("woff");
}
@font-face {
    font-family: "Metro Sans";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/asset/font/metro-sans-semi-bold-italic.woff2") format("woff2");
    src: url("/asset/font/metro-sans-semi-bold-italic.woff") format("woff");
}
