/* Typography */
:root {
    /* Family */
    --nm-ff-body: 'Sinteca', sans-serif;
    --nm-ff-heading: 'Halimonson', serif;

    /* Sizes */
    --nm-fs-base: 20px;
    --nm-fs-sm: 18px;
    --nm-fs-md: 24px;
    --nm-fs-lg: 32px;
    --nm-fs-xl: 60px;

    /* Weights */
    --nm-fw-regular: 400;
    --nm-fw-medium: 500;
    --nm-fw-bold: 800;

    /* Line Heights */
    --nm-lh-base: 24px;
    --nm-lh-sm: 20px;
    --nm-lh-md: 32px;
    --nm-lh-lg: 40px;
    --nm-lh-xl: 58px;

    /* Letter Spacing */
    --nm-ls-base: 1px;
    --nm-ls-xl: -1%;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--nm-ff-heading);
    font-weight: var(--nm-fw-bold);
    color: var(--nm-c-heading);
}

h1 {
    font-size: var(--nm-fs-xl);
    line-height: var(--nm-lh-xl);
    letter-spacing: var(--nm-ls-xl);
    text-align: center;
}

h2 {
    font-size: var(--nm-fs-lg);
    line-height: var(--nm-lh-lg);
}

/* Links */
a {
    color: var(--nm-c-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
