/* Typography */
:root {
    /* Family */
    --nm-ff-body: "Metro Sans", sans-serif;
    --nm-ff-heading: "Molen Dream", serif;

    /* Sizes */
    --nm-fs-base: 20px;
    --nm-fs-xs: 14px;
    --nm-fs-sm: 18px;
    --nm-fs-md: 24px;
    --nm-fs-lg: 32px;
    --nm-fs-xl: 64px;

    /* Weights */
    --nm-fw-regular: 400;
    --nm-fw-medium: 500;
    --nm-fw-bold: 800;

    /* Line Heights */
    --nm-lh-base: 1.2;
    --nm-lh-sm: 1.1;
    --nm-lh-md: 1.4;
    --nm-lh-lg: 40px;
    --nm-lh-xl: 70px;

    /* Letter Spacing */
    --nm-ls-base: 0;
    --nm-ls-xl: -1%;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--nm-ff-heading);
    font-weight: var(--nm-fw-regular);
    letter-spacing: 0;
    color: var(--nm-c-heading);
}

h1 {
    font-size: var(--nm-fs-xl);
    line-height: var(--nm-lh-xl);
}

h2 {
    font-size: var(--nm-fs-lg);
    line-height: var(--nm-lh-lg);
}

/* Links */
a {
    display: inline-block;
    color: var(--nm-c-link);
    text-decoration: none;

    /* Addon Classes */
    &.current {
        color: var(--nm-c-body);
        text-decoration: none;
        pointer-events: none;
    }

    /* Interactions */
    &:hover {
        text-decoration: none;
        background-color: var(--nm-c-link-hover-bg);
        color: var(--nm-c-link-hover);
    }
}

/* General */
p {
    /* Addon Classes */
    &.large {
        font-size: var(--nm-fs-md);
        line-height: var(--nm-lh-md);
    }

    &.small {
        font-size: var(--nm-fs-sm);
        line-height: var(--nm-lh-sm);
    }

    /* Children */
    span {
        /* Addon Classes */
        &.highlight {
        }

        &.callout {
            font-family: var(--nm-ff-heading);
        }
    }
}
