@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Arida';
  font-weight: 700;
  src: url("/assets/font/arida-bold.woff"), url("/assets/font/arida-bold.woff2"); }

@font-face {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/oakes-grotesk-regular.woff"), url("/assets/font/oakes-grotesk-regular.woff2"); }

@font-face {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/oakes-grotesk-semi-bold.woff"), url("/assets/font/oakes-grotesk-semi-bold.woff2"); }

@font-face {
  font-family: 'Oakes Grotesk';
  font-style: italic;
  font-weight: 400;
  src: url("/assets/font/oakes-grotesk-italic.woff"), url("/assets/font/oakes-grotesk-italic.woff2"); }

body * {
  box-sizing: border-box; }

footer .inner, section {
  padding: 100px 100px; }
  @media screen and (max-width: 1024px) {
    footer .inner, section {
      padding: 80px 80px; } }
  @media screen and (max-width: 800px) {
    footer .inner, section {
      padding: 60px 60px; } }
  @media screen and (max-width: 640px) {
    footer .inner, section {
      padding: 40px 40px; } }
  @media screen and (max-width: 480px) {
    footer .inner, section {
      padding: 20px 20px; } }

section .inner, footer .inner {
  width: 1600px;
  max-width: 1600px; }
  @media screen and (max-width: 1600px) {
    section .inner, footer .inner {
      width: 100%; } }

section .inner, section.intro .grid, h2, section .inner img {
  margin-left: auto;
  margin-right: auto; }

section .inner {
  position: relative;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Oakes Grotesk", sans-serif;
  font-weight: 400;
  text-decoration: none; }

section.intro ul li span, h1, h2, h3 {
  font-family: "Arida", serif;
  font-weight: 700; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXXS {
    display: none; } }

html {
  overflow-x: hidden;
  background-color: #FFFA84;
  cursor: none; }

body {
  min-height: 100vh;
  font-size: 30px;
  line-height: 1.4;
  background-color: #FFFAFB;
  background-size: cover;
  color: #01000C;
  overflow-x: hidden; }
  @media screen and (max-width: 1024px) {
    body {
      border-width: 20px; } }
  @media screen and (max-width: 800px) {
    body {
      border-width: 10px; } }
  body ::selection {
    background-color: #1400FF;
    color: #FFFAFB; }
  body ::-moz-selection {
    background-color: #1400FF;
    color: #FFFAFB; }
  body a.trainingDay {
    color: #01000C !important;
    background-color: transparent !important; }
  body span.trainingDay {
    position: absolute;
    z-index: 10;
    display: none;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    pointer-events: none;
    background-image: url("https://media.giphy.com/media/11TU9wJqEtr2ZW/giphy.gif");
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 350%;
    box-shadow: 0 0 50px rgba(1, 0, 12, 0.5);
    border-radius: 500px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }

main {
  position: relative;
  z-index: 5;
  margin-bottom: 600px;
  background-color: #FFFAFB; }
  main:after {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-image: linear-gradient(transparent, #FFFAFB); }

header {
  position: relative;
  z-index: 10;
  width: 100%; }
  header .logoWrap {
    position: fixed;
    display: flex;
    width: 180px;
    height: 180px;
    top: 40px;
    right: 40px;
    border: 0;
    background-color: transparent; }
    header .logoWrap:hover {
      background-color: transparent; }
    header .logoWrap:before, header .logoWrap:after {
      display: none; }
    header .logoWrap svg {
      margin: auto;
      width: 70%;
      -webkit-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
      transform: translateX(-4px); }
      header .logoWrap svg .-nour, header .logoWrap svg .-edd, header .logoWrap svg .-ine {
        fill: #FF6D7F; }
      header .logoWrap svg .-nour {
        -webkit-animation-name: logo;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0.4s;
        -webkit-animation-fill-mode: none;
        animation-name: logo;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0.4s;
        animation-fill-mode: none; }
      header .logoWrap svg .-edd {
        -webkit-animation-name: logo;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: logo;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
      header .logoWrap svg .-ine {
        -webkit-animation-name: logo;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 1.2s;
        -webkit-animation-fill-mode: none;
        animation-name: logo;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 1.2s;
        animation-fill-mode: none; }

footer {
  position: fixed;
  z-index: 2;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: #FFFA84; }
  footer .inner {
    margin: auto; }
    footer .inner ul {
      display: flex;
      justify-content: space-between;
      margin-top: 50px; }
      footer .inner ul li {
        font-size: 20px; }
        footer .inner ul li.copyright {
          order: -1; }

section {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 1024px) {
    section {
      position: relative;
      box-shadow: none; } }
  section:last-of-type {
    padding-bottom: 200px; }
  section.intro {
    padding-top: 100px;
    text-align: center;
    background-attachment: fixed; }
    @media screen and (max-width: 1024px) {
      section.intro {
        padding-top: 50px; } }
    section.intro:before {
      content: '';
      position: absolute;
      top: -50%;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: inherit; }
    section.intro ul {
      display: block;
      margin-bottom: 50px;
      align-items: center; }
      section.intro ul li {
        display: inline-block;
        margin-right: 40px; }
        section.intro ul li span {
          display: block; }
        section.intro ul li a {
          position: relative;
          display: inline-block; }
    section.intro .grid {
      margin-top: 76.92308px;
      width: 90%;
      text-align: left; }
  section.work {
    z-index: 3; }
    section.work h2 {
      position: relative;
      z-index: 1; }
    section.work .item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      padding: 50px;
      margin: 0;
      height: auto;
      transition-property: opacity;
      transition-duration: 0.1s;
      transition-delay: 0s;
      transition-timing-function: linear; }
      section.work .item.-on:before {
        width: 120%;
        height: 120%;
        box-shadow: 0 0 200px rgba(20, 0, 255, 0.4); }
      section.work .item:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: #FFFAFB;
        box-shadow: 20px 20px 30px rgba(20, 0, 255, 0.05);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        transition-property: width, height, box-shadow;
        transition-duration: 0.1s, 0.1s, 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear; }
      section.work .item div, section.work .item a {
        position: relative;
        z-index: 3; }
      section.work .item div {
        display: block;
        width: 100%;
        margin-bottom: 25px; }
        section.work .item div h3 {
          text-align: left; }
        section.work .item div p {
          margin-top: 20px;
          font-size: 22px; }
      section.work .item a {
        display: inline-block;
        align-self: flex-end;
        width: auto; }
        section.work .item a:hover + span {
          opacity: 1; }
      section.work .item span {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition-property: transform, opacity;
        transition-duration: 0.1s, 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear; }
  section.gallery {
    background-color: #ffd3d8; }
  section.general p {
    margin-bottom: 100px; }

.grid {
  position: relative;
  display: grid;
  margin-bottom: 100px; }
  @media screen and (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(1, 1fr) !important; } }
  .grid:last-child {
    margin-bottom: 0; }
  .grid.-x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; }
  .grid.-x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; }
  .grid.-x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33.33333px; }
  .grid.-x5 {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px; }
  .grid.-x6 {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px; }
  .grid.-l1 {
    grid-template-columns: 68% 30%;
    grid-gap: 2%; }
  .grid.-l2 {
    grid-template-columns: 26% 68%;
    grid-gap: 4%; }
  .grid p {
    margin-bottom: 0 !important; }
  .grid .col.-first {
    order: -1; }
  .grid .col img {
    width: 100%; }

h1, h2, h3 {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.1; }

h1, h2 {
  text-align: center; }

h1 {
  font-size: 110px; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 78.57143px; } }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 55px; } }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 44px; } }
  h1 span {
    display: inline;
    position: relative;
    color: #FF6D7F; }

h2 {
  margin-bottom: 100px;
  max-width: 70%;
  font-size: 52px; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 34.66667px; } }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 30.58824px; } }

h3 {
  font-size: 36px; }

a {
  position: relative;
  color: #1400FF;
  text-decoration: none;
  cursor: none;
  transition-property: color, background-color;
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear; }
  a:hover {
    background-color: #1400FF;
    color: #FFFAFB; }

p {
  margin-bottom: 100px; }
  @media screen and (max-width: 1024px) {
    p {
      font-size: 25px; } }
  @media screen and (max-width: 800px) {
    p {
      font-size: 20px; } }
  p:last-child {
    margin-bottom: 0 !important; }
  p span {
    background-color: #FFFA84; }

ul li {
  font-size: 25px; }
  ul li.block {
    display: block; }
    ul li.block h3 {
      margin-bottom: 25px;
      color: #FF6D7F; }
  ul li.-award:before {
    content: '🏆️'; }
  ul li.-award span {
    display: block;
    font-size: 20px;
    text-indent: 30px;
    opacity: .5; }
  ul li.general {
    display: inline; }
    ul li.general:after {
      content: ', '; }
    ul li.general:nth-last-child(2):after {
      display: none; }
    ul li.general:nth-last-child(1):before {
      content: ' & '; }
    ul li.general:last-child:after {
      content: ''; }

section .inner img {
  display: block;
  margin-bottom: 100px; }
  section .inner img.shadow {
    width: 70%;
    box-shadow: 10px 10px 40px rgba(1, 0, 12, 0.05); }

.cursorBase {
  display: none; }

.cursor {
  position: absolute;
  z-index: 100;
  top: 0vh;
  left: 0vw;
  width: 38px;
  pointer-events: none;
  transition-property: width;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear; }
  .cursor.pointer, .cursor.clicked {
    width: 50px; }
  .cursor.pointer {
    -webkit-animation-name: cursorPointer;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: none;
    animation-name: cursorPointer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: none; }
  .cursor.loading {
    transform-origin: 50% 50%;
    -webkit-animation-name: cursorLoading;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: none;
    animation-name: cursorLoading;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: none; }
  .cursor svg {
    width: 100%;
    -webkit-transform: translateX(-4px) translateY(-4px);
    -ms-transform: translateX(-4px) translateY(-4px);
    transform: translateX(-4px) translateY(-4px); }

@keyframes arrowHover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes arrowHover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes logo {
  0% {
    fill: #FF6D7F; }
  50% {
    fill: #1400FF; }
  100% {
    fill: #FF6D7F; } }

@-webkit-keyframes logo {
  0% {
    fill: #FF6D7F; }
  50% {
    fill: #1400FF; }
  100% {
    fill: #FF6D7F; } }

@keyframes link {
  0% {
    color: #1400FF; }
  49% {
    color: #1400FF; }
  50% {
    color: #FF6D7F; }
  99% {
    color: #FF6D7F; }
  100% {
    color: #1400FF; } }

@-webkit-keyframes link {
  0% {
    color: #1400FF; }
  49% {
    color: #1400FF; }
  50% {
    color: #FF6D7F; }
  99% {
    color: #FF6D7F; }
  100% {
    color: #1400FF; } }

@keyframes cursorPointer {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes cursorPointer {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes cursorLoading {
  0% {
    -webkit-transform: translateY(0) translateX(0) rotate(0deg);
    -ms-transform: translateY(0) translateX(0) rotate(0deg);
    transform: translateY(0) translateX(0) rotate(0deg); }
  30% {
    -webkit-transform: translateY(0) translateX(0) rotate(0deg);
    -ms-transform: translateY(0) translateX(0) rotate(0deg);
    transform: translateY(0) translateX(0) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-22px) translateX(-9px) rotate(180deg);
    -ms-transform: translateY(-22px) translateX(-9px) rotate(180deg);
    transform: translateY(-22px) translateX(-9px) rotate(180deg); } }

@-webkit-keyframes cursorLoading {
  0% {
    -webkit-transform: translateY(0) translateX(0) rotate(0deg);
    -ms-transform: translateY(0) translateX(0) rotate(0deg);
    transform: translateY(0) translateX(0) rotate(0deg); }
  30% {
    -webkit-transform: translateY(0) translateX(0) rotate(0deg);
    -ms-transform: translateY(0) translateX(0) rotate(0deg);
    transform: translateY(0) translateX(0) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-22px) translateX(-9px) rotate(180deg);
    -ms-transform: translateY(-22px) translateX(-9px) rotate(180deg);
    transform: translateY(-22px) translateX(-9px) rotate(180deg); } }
