@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Basier";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/basiersquare-regular.woff"), url("/assets/font/basiersquare-regular.woff2");
}
@font-face {
  font-family: "Basier";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/font/basiersquare-regularitalic.woff"), url("/assets/font/basiersquare-regularitalic.woff2");
}
@font-face {
  font-family: "Basier";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/basiersquare-semibold.woff"), url("/assets/font/basiersquare-semibold.woff2");
}
@font-face {
  font-family: "Authentic Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/AUTHENTICSans-150.woff"), url("/assets/font/AUTHENTICSans-150.woff2");
}
section .content.--gallery .inner, section .content, header, footer {
  padding: 72px 72px;
}
@media screen and (max-width: 1280px) {
  section .content.--gallery .inner, section .content, header, footer {
    padding: 64px 64px;
  }
}
@media screen and (max-width: 1024px) {
  section .content.--gallery .inner, section .content, header, footer {
    padding: 56px 56px;
  }
}
@media screen and (max-width: 800px) {
  section .content.--gallery .inner, section .content, header, footer {
    padding: 48px 48px;
  }
}
@media screen and (max-width: 640px) {
  section .content.--gallery .inner, section .content, header, footer {
    padding: 40px 40px;
  }
}
@media screen and (max-width: 380px) {
  section .content.--gallery .inner, section .content, header, footer {
    padding: 32px 32px;
  }
}

section .content {
  width: 100%;
  max-width: 1280px;
}

img, video, section .content {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  header div.info {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  header p.fullName {
    display: none !important;
  }
}

h1, h2, h3, h4 {
  font-family: "Authentic Sans", sans-serif;
}

html, body {
  font-family: "Basier", sans-serif;
}

html, body, h1, h2, h3, h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  html, body, h1, h2, h3, h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  html, body, h1, h2, h3, h4 {
    font-size: 16px;
  }
}

html, body, h1, h2, h3, h4 {
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

ul.cases li.--featured {
  font-weight: 600;
}

footer, header, h1, h2, h3, h4 {
  text-transform: uppercase;
}

a {
  text-decoration: underline;
}

html, body, h1, h2, h3, h4 {
  line-height: 1.2;
}

h1, h2, h3, h4 {
  line-height: 1;
}

footer {
  text-align: center;
}

html, body {
  background-color: #FFEEEE;
  color: #340809;
}

body {
  overflow-x: hidden;
}
body * {
  position: relative;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 24px;
  font-size: 16px;
}
header nav, header div.info {
  display: flex;
  gap: 16px;
}
header a.logoWrap {
  width: 70px;
  height: auto;
}
@media screen and (max-width: 800px) {
  header a.logoWrap {
    width: 60px;
  }
}
header a.logoWrap .logo {
  fill: #D5161B;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

section {
  position: relative;
  z-index: 1;
}
section .content h2, section .content h3, section .content h4, section .content p, section .content img, section .content video {
  margin-bottom: 36px;
}
@media screen and (max-width: 800px) {
  section .content h2, section .content h3, section .content h4, section .content p, section .content img, section .content video {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 640px) {
  section .content h2, section .content h3, section .content h4, section .content p, section .content img, section .content video {
    margin-bottom: 18px;
  }
}
section .content h2:last-child, section .content h3:last-child, section .content h4:last-child, section .content p:last-child {
  margin-bottom: 0 !important;
}
section .content.--heading, section .content.--gallery {
  height: 100vh;
}
section .content.--heading {
  display: flex;
  align-items: center;
  text-align: center;
}
section .content.--gallery {
  max-width: 100%;
  padding: 0 !important;
}
section .content.--gallery .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 36px;
  overflow-x: scroll;
}
section .content.--gallery .inner img {
  width: 80%;
  max-height: 700px;
  margin-bottom: 0 !important;
}
section .content.--blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
}
@media screen and (max-width: 1024px) {
  section .content.--blocks {
    flex-direction: column;
  }
}
section .content.--blocks h2, section .content.--blocks h3, section .content.--blocks h4, section .content.--blocks p, section .content.--blocks img, section .content.--blocks video {
  margin-bottom: 0;
}
section .content.--blocks .fullWidth {
  width: 100%;
  flex-grow: 2;
}
section .content.--blocks div.block {
  width: calc(50% - 36px);
}
@media screen and (max-width: 1024px) {
  section .content.--blocks div.block {
    width: 100%;
  }
}

.sop {
  background-color: #ECF1FF;
  color: black;
}
.sop h1, .sop h2, .sop h3, .sop h4 {
  color: #00237E;
}
.sop a {
  color: #1D5CFF;
}
.sop header a.logoWrap .logo {
  fill: #1D5CFF;
}

.echo {
  background-color: #E8FBF6;
  color: black;
}
.echo h1, .echo h2, .echo h3, .echo h4 {
  color: #0E5641;
}
.echo a {
  color: #8362BE;
}
.echo header a.logoWrap .logo {
  fill: #8362BE;
}

.verve {
  background-color: #F7EDFF;
  color: black;
}
.verve h1, .verve h2, .verve h3, .verve h4 {
  color: #4B0085;
}
.verve a {
  color: #9000FE;
}
.verve header a.logoWrap .logo {
  fill: #9000FE;
}

.branding {
  background-color: #FFEED6;
  color: black;
}
.branding h1, .branding h2, .branding h3, .branding h4 {
  color: #261E13;
}
.branding a {
  color: #FF9500;
}
.branding header a.logoWrap .logo {
  fill: #FF9500;
}

.mf {
  background-color: #EEFFE0;
  color: black;
}
.mf h1, .mf h2, .mf h3, .mf h4 {
  color: #2B3621;
}
.mf a {
  color: #00AB59;
}
.mf header a.logoWrap .logo {
  fill: #00AB59;
}

.nps {
  background-color: #EEE1FF;
  color: black;
}
.nps h1, .nps h2, .nps h3, .nps h4 {
  color: #6029AA;
}
.nps a {
  color: #FF6600;
}
.nps header a.logoWrap .logo {
  fill: #FF6600;
}

h1 {
  color: #D5161B;
}

h1 {
  font-size: 76px;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 54.2857142857px;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 42.2222222222px;
  }
}

h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 22.8571428571px;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 17.7777777778px;
  }
}

h3 {
  font-size: 28px;
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  h3 {
    font-size: 15.5555555556px;
  }
}

h4 {
  font-size: 22px;
}
@media screen and (max-width: 800px) {
  h4 {
    font-size: 15.7142857143px;
  }
}
@media screen and (max-width: 640px) {
  h4 {
    font-size: 12.2222222222px;
  }
}

a {
  display: inline-block;
  color: #D5161B;
  transition-property: opacity, transform;
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
a:not(.noLinkHover):hover {
  opacity: 0.6;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
a:not(.noLinkHover):active {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

p {
  line-height: 1.4;
}
p.intro {
  font-size: 28px;
}
@media screen and (max-width: 800px) {
  p.intro {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  p.intro {
    font-size: 18px;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
ul li {
  padding-left: 8px;
}
ul li:before {
  content: "•";
  padding-right: 8px;
}
ul.grid {
  flex-direction: row;
  gap: 16px;
}
ul.grid li:before {
  display: none;
}
ul.cases {
  gap: 16px;
  font-size: 28px;
}
@media screen and (max-width: 800px) {
  ul.cases {
    font-size: 22px;
  }
}
ul.cases li {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding-left: 0;
  padding-bottom: 16px;
  border-bottom: 1px #340809 solid;
  background-color: transparent !important;
}
@media screen and (max-width: 800px) {
  ul.cases li {
    flex-direction: column;
    gap: 8px;
  }
}
ul.cases li:before {
  display: none;
}
ul.cases li a {
  text-decoration: none;
}
ul.cases li a:hover + .hover {
  opacity: 1;
}
ul.cases li .hover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

span.crossed {
  text-decoration: line-through;
}

img, video {
  display: block;
}

video {
  width: 100%;
  height: auto;
}