@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/oakes-grotesk-regular.woff"), url("/assets/font/oakes-grotesk-regular.woff2"); }

@font-face {
  font-family: 'Oakes Grotesk';
  font-style: italic;
  font-weight: 400;
  src: url("/assets/font/oakes-grotesk-italic.woff"), url("/assets/font/oakes-grotesk-italic.woff2"); }

@font-face {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/oakes-grotesk-semi-bold.woff"), url("/assets/font/oakes-grotesk-semi-bold.woff2"); }

body * {
  box-sizing: border-box; }

section {
  padding: 100px 100px; }
  @media screen and (max-width: 1024px) {
    section {
      padding: 80px 80px; } }
  @media screen and (max-width: 800px) {
    section {
      padding: 60px 60px; } }
  @media screen and (max-width: 640px) {
    section {
      padding: 40px 40px; } }
  @media screen and (max-width: 480px) {
    section {
      padding: 20px 20px; } }

section .inner, header ul {
  width: 1600px;
  max-width: 1600px; }
  @media screen and (max-width: 1600px) {
    section .inner, header ul {
      width: 100%; } }

section .inner, header ul {
  margin-left: auto;
  margin-right: auto; }

section .inner {
  position: relative;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Oakes Grotesk", sans-serif;
  font-weight: 400;
  text-decoration: none; }

strong {
  font-weight: 700; }

@media screen and (max-width: 1600px) {
  .hideXL {
    display: none; } }

@media screen and (max-width: 1440px) {
  .hideLG {
    display: none; } }

@media screen and (max-width: 1024px) {
  .hideMD {
    display: none; } }

@media screen and (max-width: 800px) {
  .hideSM {
    display: none; } }

@media screen and (max-width: 640px) {
  .hideXS {
    display: none; } }

@media screen and (max-width: 480px) {
  .hideXXS {
    display: none; } }

html {
  background-color: #06090B;
  overflow-x: hidden; }

body {
  min-height: 100vh;
  font-size: 30px;
  line-height: 1.4;
  background-color: #06090B;
  background-size: cover;
  color: #FFFFFF;
  overflow-x: hidden; }
  @media screen and (max-width: 1024px) {
    body {
      border-width: 20px; } }
  @media screen and (max-width: 800px) {
    body {
      border-width: 10px; } }
  body ::selection {
    background-color: #FFFFFF;
    color: #06090B; }

main {
  position: relative; }

header {
  position: relative;
  z-index: 10;
  width: 100%; }
  header ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px; }
    header ul li {
      padding-top: 100px; }
      header ul li span {
        display: block; }
      header ul li a {
        position: relative;
        display: inline-block;
        text-indent: 40px;
        -webkit-animation-name: link;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: none;
        animation-name: link;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-fill-mode: none; }
        header ul li a:before {
          content: '↳';
          position: absolute;
          top: 4px;
          left: -40px;
          color: #FF6871; }
        header ul li a:hover {
          color: #FF6871;
          -webkit-animation-name: none;
          -webkit-animation-duration: 1s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-delay: 0s;
          -webkit-animation-fill-mode: none;
          animation-name: none;
          animation-duration: 1s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-delay: 0s;
          animation-fill-mode: none; }
  header .logoWrap {
    position: fixed;
    width: 400px;
    top: -200px;
    right: -100px; }
    header .logoWrap:before, header .logoWrap:after {
      display: none; }
    header .logoWrap svg {
      width: 100%;
      fill: #FF6871;
      -webkit-animation-name: logo;
      -webkit-animation-duration: 20s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      -webkit-animation-fill-mode: both;
      animation-name: logo;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 0s;
      animation-fill-mode: both; }

section {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media screen and (max-width: 1024px) {
    section {
      position: relative;
      box-shadow: none; } }
  section.intro {
    padding-top: 100px; }
    @media screen and (max-width: 1024px) {
      section.intro {
        padding-top: 50px; } }
    section.intro:before {
      content: '';
      position: absolute;
      top: -50%;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: inherit; }
    section.intro ul {
      display: block;
      margin-top: 33.33333px;
      list-style: none; }
      section.intro ul li {
        display: inline-block;
        margin: 0 40px 0 0; }
        @media screen and (max-width: 800px) {
          section.intro ul li {
            display: block;
            margin: 10px 0; } }
  section.work h2 {
    margin-bottom: 100px; }
  section.work .item {
    position: relative;
    align-items: grid-start;
    padding: 33.33333px;
    margin: 0;
    background-color: #06090B; }
    section.work .item p, section.work .item a {
      margin: 0;
      padding: 0; }
    section.work .item a:hover + span {
      opacity: 1; }
    section.work .item span {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none; }

.grid {
  position: relative;
  display: grid;
  margin: 100px 0; }
  @media screen and (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(1, 1fr) !important; } }
  .grid.-x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; }
  .grid.-x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; }
  .grid.-x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33.33333px; }
  .grid.-l1 {
    grid-template-columns: 68% 30%;
    grid-gap: 2%; }
  .grid.-l2 {
    grid-template-columns: 26% 68%;
    grid-gap: 4%; }
  .grid .col.-first {
    order: -1; }
  .grid .col img {
    width: 100%; }

h1, h2, h3 {
  position: relative;
  line-height: 1.2;
  font-weight: 600; }

h1 {
  font-size: 120px; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 85.71429px; } }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 60px; } }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 48px; } }
  h1 span {
    display: inline;
    position: relative;
    color: #FFE660; }

h2 {
  font-size: 42px; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 28px; } }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 24.70588px; } }

a {
  text-decoration: none;
  color: #5CE2FF; }

p {
  margin-bottom: 50px; }
  p:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 1024px) {
    p {
      font-size: 25px; } }
  @media screen and (max-width: 800px) {
    p {
      font-size: 20px; } }
  p a {
    position: relative;
    z-index: 1;
    padding-bottom: 2px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #5CE2FF;
    color: #5CE2FF; }
    p a:hover {
      border-bottom-color: #FFFFFF;
      color: #FFFFFF; }

.cursor {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 60px;
  background-image: url("/assets/img/cursor/hand-two.svg");
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media screen and (max-width: 800px) {
    .cursor {
      display: none; } }
  .cursor.link {
    width: 40px;
    background-image: url("/assets/img/cursor/hand-point.svg");
    background-position: 0 0;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }
  .cursor.rock {
    background-image: url("/assets/img/cursor/hand-rock.svg");
    -webkit-animation-name: cursorRock;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: both;
    animation-name: cursorRock;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-fill-mode: both; }

@keyframes arrowHover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes arrowHover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes logo {
  0% {
    fill: #FF6871;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  9.9% {
    fill: #FF6871; }
  10% {
    fill: #5CE2FF; }
  19.9% {
    fill: #5CE2FF; }
  20% {
    fill: #FFE660; }
  29.9% {
    fill: #FFE660; }
  30% {
    fill: #FF6871; }
  39.9% {
    fill: #FF6871; }
  40% {
    fill: #5CE2FF; }
  49.9% {
    fill: #5CE2FF; }
  50% {
    fill: #FFE660; }
  59.9% {
    fill: #FFE660; }
  60% {
    fill: #FF6871; }
  69.9% {
    fill: #FF6871; }
  70% {
    fill: #5CE2FF; }
  79.9% {
    fill: #5CE2FF; }
  80% {
    fill: #FFE660; }
  89.9% {
    fill: #FFE660; }
  90% {
    fill: #5CE2FF; }
  99.9% {
    fill: #5CE2FF; }
  100% {
    fill: #FF6871;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes logo {
  0% {
    fill: #FF6871;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  9.9% {
    fill: #FF6871; }
  10% {
    fill: #5CE2FF; }
  19.9% {
    fill: #5CE2FF; }
  20% {
    fill: #FFE660; }
  29.9% {
    fill: #FFE660; }
  30% {
    fill: #FF6871; }
  39.9% {
    fill: #FF6871; }
  40% {
    fill: #5CE2FF; }
  49.9% {
    fill: #5CE2FF; }
  50% {
    fill: #FFE660; }
  59.9% {
    fill: #FFE660; }
  60% {
    fill: #FF6871; }
  69.9% {
    fill: #FF6871; }
  70% {
    fill: #5CE2FF; }
  79.9% {
    fill: #5CE2FF; }
  80% {
    fill: #FFE660; }
  89.9% {
    fill: #FFE660; }
  90% {
    fill: #5CE2FF; }
  99.9% {
    fill: #5CE2FF; }
  100% {
    fill: #FF6871;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes link {
  0% {
    color: #5CE2FF; }
  49% {
    color: #5CE2FF; }
  50% {
    color: #FFE660; }
  99% {
    color: #FFE660; }
  100% {
    color: #5CE2FF; } }

@-webkit-keyframes link {
  0% {
    color: #5CE2FF; }
  49% {
    color: #5CE2FF; }
  50% {
    color: #FFE660; }
  99% {
    color: #FFE660; }
  100% {
    color: #5CE2FF; } }
