---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
    page="work"
>
    <section class="page-header">
        <h1>
            Hello internet pals, I&rsquo;m Noureddine. A very serious designer
            who enjoys working with decent humans*
        </h1>
        <p class="subtitle">
            <span class="animated-callout -a">✱ Not</span>
            <span class="animated-callout -b">dickheads</span>
            <span class="animated-callout -c">who</span>
            <span class="animated-callout -d">idolise</span>
            <span class="animated-callout -e">billionaires</span>
        </p>
    </section>
    <section class="work">
        <div class="block">
            <h2>Currently</h2>
            <div class="item">
                <p class="large">
                    I&rsquo;m looking for my <span class="callout">next</span> role
                </p>
                <a href="">Are we a good fit?</a>
            </div>
            <div class="item">
                <p class="large">
                    Leading Product Design <span class="callout">@Dubber</span>
                </p>
                <a href="">Creating an accessible, data focused design system</a
                >
                <a href=""
                    >Built an internal tool to help create brand ready
                    illustrations</a
                >
                <a href="">Case Study C</a>
                <a href="">Case Study D</a>
            </div>
        </div>
        <div class="block">
            <h2>Previously</h2>
            <div class="item">
                <p class="large">
                    Head of Design <span class="callout"
                        >@Simple Online Healthcare</span
                    >
                </p>
                <a href="">Case Study A</a>
                <a href="">Designed a task based internal system</a>
                <a href="">Refreshed the brand for a digital pharmacy</a>
                <a href=""
                    >Created a digital app experience for a digital pharmacy</a
                >
            </div>
            <div class="item">
                <p class="large">
                    More product, digital and brand <span class="callout"
                        >work</span
                    >
                </p>
                <a href="">View Archive</a>
            </div>
        </div>
    </section>
</BaseLayout>
