---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
    page="work"
>
    <section class="page-header">
        <h1>
            Hello internet pals, I&rsquo;m Noureddine. A very serious designer
            who enjoys working with decent humans*.
        </h1>
        <div class="subtitle">
            <p class="large">* Not dickheads who idolise billionaires</p>
        </div>
    </section>
    <section class="work">
        <div class="block">
            <h2>Currently</h2>
            <div class="item">
                <h3>Looking for my next role</h3>
                <p><a href="./fit-check/">Are we a good fit?</a></p>
            </div>
        </div>
        <div class="block">
            <h2>Previously</h2>
            <div class="item">
                <h3>Product Design Lead <span>@Dubber</span></h3>
                <h3>Head of Design <span>@Simple Online Healthcare</span></h3>
                <h3>Lead Product Designer <span>@Echo (LloydsDirect)</span></h3>
                <h3>Sr Product Designer <span>@Verve</span></h3>
            </div>
        </div>
    </section>
</BaseLayout>
