---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
    page="work"
>
    <section class="page-header">
        <h1>
            Hello internet pals, I&rsquo;m Noureddine. A very serious designer
            who enjoys working with decent humans*.
        </h1>
        <div class="subtitle">
            <p class="large">* Not dickheads who idolise billionaires</p>
        </div>
    </section>
    <section class="work">
        <div class="block">
            <h2>Currently</h2>
            <div class="item">
                <h3>Leading Product Design <span>@Dubber</span></h3>
                <a href="">Creating an accessible, data focused design system</a
                >
                <a href=""
                    >Built an internal tool to help create brand ready
                    illustrations</a
                >
                <a href="">Case Study C</a>
                <a href="">Case Study D</a>
            </div>
        </div>
        <div class="block">
            <h2>Previously</h2>
            <div class="item">
                <h3>Head of Design <span>@Simple Online Healthcare</span></h3>
                <a href="">Case Study A</a>
                <a href="">Designed a task based internal system</a>
                <a href="">Refreshed the brand for a digital pharmacy</a>
                <a href=""
                    >Created a digital app experience for a digital pharmacy</a
                >
            </div>
            <div class="item">
                <h3>More product, digital and brand work.</h3>
                <a href="">View Archive</a>
            </div>
        </div>
    </section>
</BaseLayout>
