---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
    page="work"
>
    <p class="large">
        Hello internet pals, I&rsquo;m Noureddine Azhar. A super serious
        end-to-end designer who enjoys working with decent humans. Currently,
        I&rsquo;m leading product design @ Dubber where I&rsquo;m creating an
        accessible data focused design system and designing a dashboard
        experience for the core product. Previously, I was the Head of Design @
        Simple where I designed a full product and brand experience, designed a
        task based internal system, refreshed the core brand and created a
        digital app experience. Before that I was leading patient facing product
        design @ Echo where I designed the full web experience.
    </p>

    <p class="large">
        I&rsquo;m not actively looking for anything at the moment but I&rsquo;m
        always happy to <a href="#">see if we&rsquo;re a good fit</a> if you&rsquo;ve
        got an interesting project or a role.
    </p>
</BaseLayout>
