---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
    page="home"
>
    <h1>
        Hello internet pals, I&rsquo;m Noureddine. An end-to-end designer who
        enjoys working with decent humans.
    </h1>
    <section class="blocks">
        <div class="block">
            <h2>Currently</h2>
            <ul>
                <li>
                    <p>Product Design Lead @ <a href="#">Dubber</a></p>
                </li>
                <li>
                    <p>Open to new <a href="#">Stuff</a></p>
                </li>
            </ul>
        </div>
        <div class="block">
            <h2>Previously</h2>
            <ul>
                <li>
                    <p>Head of Design @ <a href="#">Simple</a></p>
                </li>
                <li>
                    <p>
                        Product Design Lead @ <a href="#">Echo</a>
                    </p>
                </li>
            </ul>
        </div>
    </section>
</BaseLayout>
