---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
>
    <h1>
        Hello internet pals, I&rsquo;m Noureddine. An end-to-end designer who
        enjoys working with decent humans.
    </h1>
</BaseLayout>
