// Footer

footer

    position: sticky
    z-index: 0

    width: 100%
    height: $footerHeight

    bottom: 0

    @extend %bgcSecondary

    // Children

    .content

        @extend %contentPadding
        @extend %maxWidth
        @extend %centerLayout
        @extend %textCenter

        // Children

        nav.footer

            display: flex
            justify-content: space-between

            margin-top: $globalSpace

            font-size: 20px

            // Children
            
            ul > li

                display: inline-block

                margin-right: 10px