// Grid

.grid

    position: relative
    display: grid

    margin-bottom: $globalSpace

    // Responsive

    +screen($md)

        grid-template-columns: repeat(1, 1fr) !important

    // Pseudo

    &:last-child

        margin-bottom: 0

    // Classes

    &.-x2

        grid-template-columns: repeat(2, 1fr)
        grid-gap: $globalSpace

    &.-x3

        grid-template-columns: repeat(3, 1fr)
        grid-gap: $globalSpace / 2

    &.-x4

        grid-template-columns: repeat(4, 1fr)
        grid-gap: $globalSpace / 3

    &.-x5

        grid-template-columns: repeat(5, 1fr)
        grid-gap: $globalSpace / 4

    &.-x6

        grid-template-columns: repeat(6, 1fr)
        grid-gap: $globalSpace / 4

    &.-l1

        grid-template-columns: 68% 30%
        grid-gap: 2%

    &.-l2

        grid-template-columns: 26% 68%
        grid-gap: 4%

    // Children

    p

        margin-bottom: 0 !important

    .col

        // Classes

        &.-first

            order: -1

        // Children

        img

            width: 100%