// Header

header

    $logo: 250px

    position: fixed
    z-index: 10

    top: -50px
    left: -50px

    width: auto
    height: auto

    // Children

    .logoWrap

        position: relative
        display: flex

        width: $logo
        height: $logo

        // Responsive

        +screen($md)

            width: $logo / 1.5
            height: $logo / 1.5

        +screen($sm)

            width: $logo / 2
            height: $logo / 2

        // Pseudo

        &:before, &:after

            display: none

        // Children

        svg

            width: 100%

            fill: $primary

            +animation(logo, 20s, linear, infinite, 0s, both)