// Header

header

    position: fixed
    z-index: 99

    width: 100%
    height: auto

    top: 0
    left: 0

    background-color: red

    text-align: center

    // Children

    .logoWrap

        position: relative
        display: inline-block

        height: auto
        width: 200px

        padding: 20px

        background-color: $light

        // Children

        .logo

            width: 100%

            *
            
                fill: $primary
