// Header

header

    $logo: 180px

    position: relative
    z-index: 10

    width: 100%

    // Children

    .logoWrap

        position: fixed
        display: flex

        width: $logo
        height: $logo

        top: 40px
        right: 40px

        border: 0

        background-color: transparent

        // Responsive

        +screen($md)

        +screen($sm)

        // States

        &:hover

            background-color: transparent

        // Pseudo

        &:before, &:after

            display: none

        // Children

        svg

            margin: auto

            width: 70%

            +transform(translateX, -4px)

            // Children

            .-nour, .-edd, .-ine

                fill: $primary

            .-nour

                +animation(logo, 5s, $delay: .4s)

            .-edd

                +animation(logo, 5s)

            .-ine

                +animation(logo, 5s, $delay: 1.2s)