// Section

section

    position: relative
    z-index: 1

    width: 100%

    // Psuedo

    &:last-of-type
        
        padding-bottom: calc($globalSpace / 2)

    // Classes

    &.pageHeading

        display: flex
        justify-content: center
        align-items: center

        // height: 100vh

        // Children
        
        .content

            padding-top: 0
            padding-bottom: 0

    &.cover

        // Children

        .content

            padding: 0 !important
            max-width: 100%

            // Children
            
            img

                width: 100%