// Section

section

    display: block
    position: relative
    z-index: 2

    width: 100%
    height: auto

    @extend %padding

    // Responsive

    +screen($md)

        position: relative

        box-shadow: none

    // Pseudo

    &:last-of-type

        // Children

        .inner

            // margin-bottom: $globalSpace

    // Classes

    &.intro

        min-height: 50vh

        // Responsive

        +screen($sm)

            padding-top: $globalSpace / 4

        // Children

        ul

            display: block

            margin-top: $globalSpace / 3

            list-style: none

            // Children

            li
                display: inline-block

                margin: 0 40px 0 0

                // Responsive

                +screen($sm)

                    display: block

                    margin: 10px 0

    &.work

        z-index: 5

        min-height: 100vh

        @extend %bgTertiary

        // Children

        .inner

            +maxWidth($lg)

        a.item

            $s: $globalSpace / 2

            position: relative

            z-index: 1

            color: $dark

            +transition(opacity, .2s)
            +padding($s, $s, 10px, $padding)

            // Pseudo

            +screen($sm)

                opacity: 1 !important

            // Pseudo

            &:before, &:after

                content: ''

                position: absolute
                z-index: 2

                width: 100%
                height: 100%

                +transition((top, left, width, height),(.2s, .2s, .2s, .2s))

            &:before

                content: ''

                top: -5px
                left: -5px

                background-color: $light

            &:after

                top: 0
                left: 0

                border: 2px solid $dark

            // States

            &:hover

                // Pseudo

                &:before

                    top: 5px
                    left: 5px

                &:after

                    top: -25px
                    left: -25px

                    width: calc(100% + 10px)
                    height: calc(100% + 10px)

                // Children

                p:after

                    +animation(arrowHover, 1s, ease-in, infinite, 0, both)

                span, img

                    opacity: 1
                    visibility: visible

            // Children

            h3, p

                position: relative
                z-index: 3

            p

                display: inline-block

                margin: 0

                color: $link

                // Pseudo

                &:after

                    content: '→'

                    position: absolute

                    top: 4px
                    right: -30px

            span

                position: absolute
                z-index: 1

                top: -10px
                left: -10px

                width: calc(100% + 30px)
                height: calc(100% + 30px)

                opacity: 0
                visibility: hidden

                pointer-events: none

                +transition((opacity, visibility),(.2s, .2s))

    &.about

        min-height: 100vh

        @extend %bgLight

    // Children

    .inner

        @extend %inner

    .items

        z-index: 10

        margin: $globalSpace 0

        +grid(2, 1fr, $globalSpace / 2)

        // Responsive

        +screen($md)

            margin: $globalSpace / 2 0

        +screen($sm)

            grid-template-columns: 100%

            margin: $globalSpace / 3 0

