// Fonts

@font-face

    font-family: 'Basier'
    font-style: normal
    font-weight: 400
    src: url($fontPath + 'basiersquare-regular.woff'), url($fontPath + 'basiersquare-regular.woff2')

@font-face

    font-family: 'Basier'
    font-style: italic
    font-weight: 400
    src: url($fontPath + 'basiersquare-regularitalic.woff'), url($fontPath + 'basiersquare-regularitalic.woff2')

@font-face

    font-family: 'Basier'
    font-style: normal
    font-weight: 600
    src: url($fontPath + 'basiersquare-semibold.woff'), url($fontPath + 'basiersquare-semibold.woff2')

@font-face

    font-family: 'Floyd'
    font-style: normal
    font-weight: 400
    src: url($fontPath + 'bn-floyd-webfont.woff'), url($fontPath + 'bn-floyd-webfont.woff2')