// Fonts

@font-face

    font-family: 'Riposte'
    font-style: normal
    font-weight: 400
    src: url($fontPath + 'riposte-regular.woff'), url($fontPath + 'riposte-regular.woff2')

@font-face

    font-family: 'Riposte'
    font-style: normal
    font-weight: 700
    src: url($fontPath + 'riposte-bold.woff'), url($fontPath + 'riposte-bold.woff2')