// Helpers

// Layout

%contentPadding

    +padding($globalSpace, $z: 20px, $breaks: $padding)

%maxWidth

    +maxWidth($xl)

%centerLayout

    margin-left: auto
    margin-right: auto

@each $label, $size in $hide

    %hide#{$label}

        +screen($size)

            display: none !important


// Typography

%fontRegular

    font-weight: 300

%fontBold

    font-weight: 500

%uppercase

    text-transform: uppercase

%underline

    text-decoration: underline

%textCenter

    text-align: center

%fontBase

    font-family: $font
    font-size: $fontBase

    @extend %fontRegular

%fontHeading

    @extend %fontBold
    @extend %fontBase
    @extend %uppercase