// Colours

$c1:                        #D5161B
$c2:                        #FFEEEE
$c3:                        #340809

$primary:                   $c1
$light:                     $c2
$dark:                      $c3

$text:                      $dark
$bg:                        $light

$link:                      $primary

$palette:                   (Primary $primary, Light $light, Dark $dark)

// Cases

$sop:                       (#ECF1FF, #00237E, #1D5CFF)
$echo:                      (#E8FBF6, #0E5641, #8362BE)
$verve:                     (#F7EDFF, #4B0085, #9000FE)
$branding:                  (#FFEED6, #261E13, #FF9500)
$mf:                        (#EEFFE0, #2B3621, #00AB59)
$nps:                       (#EEE1FF, #6029AA, #FF6600)

$cases:                     (sop $sop, echo $echo, verve $verve, branding $branding, mf $mf, nps $nps)

// Fonts

$fontHead:                  'Authentic Sans', sans-serif
$fontText:                  'Basier', sans-serif // 400, 600 & italic

$h1:                        clamp(26px, 8vmin, 88px)
$h2:                        clamp(16px, 4vmin, 28px)

$headings:                  (h1 $h1, h2 $h2)

// Sizes

$fontBase:                  20px
$globalSpace:               72px

$xl:                        1280px
$lg:                        1024px
$md:                        800px
$sm:                        640px
$xs:                        380px

$padding:                   ($xl, $lg, $md, $sm, $xs)
$hide:                      (XL $xl, LG $lg, MD $md, SM $sm, XS $xs)

// Paths

$imgPath:                   '/assets/img/'
$fontPath:                  '/assets/font/'

// Misc

$animSpeed:                 .2s