// Colours

$c1:                        #0500FF
$c2:                        #FFF0FE
$c3:                        #000000
$c4:                        #ffffff

$primary:                   $c1
$secondary:                 $c2
$dark:                      $c3
$light:                     $c4

$text:                      $dark
$bg:                        $light
$highlight:                 $secondary

$link:                      $primary

$palette:                   (Primary $primary, Secondary $secondary, Dark $dark, Light $light)

// Fonts

$fontText:                  'Riposte', sans-serif        // 300, 500

$h1:                        6.5vmin
$h2:                        4vmin
$h3:                        28px

// Sizes

$fontBase:                  30px
$globalSpace:               100px
$headerHeight:              100px
$footerHeight:              700px

$border:                    20px

$lg:                        1440px
$md:                        1024px
$sm:                        800px
$xs:                        640px

$padding:                   ($lg, $md, $sm, $xs)
$hide:                      (LG $lg, MD $md, SM $sm, XS $xs)

// Paths

$imgPath:                   '/assets/img/'
$fontPath:                  '/assets/font/'

// Misc

$animSpeed:                 .1s