// Colours

$c1:                        #FF5A6E
$c2:                        #001AFF
$c3:                        #FFE7EB
$c4:                        #07005B
$c5:                        #FFFFFF

$primary:                   $c1
$secondary:                 $c2
$tertiary:                  $c3
$dark:                      $c4
$light:                     $c5

$text:                      $dark
$link:                      $secondary
$bg:                        $light
$splash:                    $tertiary
$highlight:                 $primary

$palette:                   (Primary $primary, Secondary $secondary, Tertiary $tertiary ,Dark $dark, Light $light)

// Fonts

$fontHead:                  'Young Serif', serif        // 400
$fontText:                  'EB Garamond', serif        // 400,500,700

$h1:                        56px
$h2:                        42px
$h3:                        32px

// Sizes

$base:                      26px
$globalSpace:               100px
$headerHeight:              100px
$footerHeight:              600px

$xl:                        1600px
$lg:                        1440px
$md:                        1024px
$sm:                        800px
$xs:                        640px
$xxs:                       480px

$maxWidth:                  $md

$padding:                   ($md, $sm, $xs, $xxs)
$hide:                      (XL $xl, LG $lg, MD $md, SM $sm, XS $xs, XXS $xxs)

// Paths

$imgPath:                   '/assets/img/'
$fontPath:                  '/assets/font/'
$cursor:                    $imgPath + 'cursor/'
$mark:                      $imgPath + 'marks/'