---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Noureddine - Portfolio"
    description="Portfolio of Noureddine"
    page="work"
>
    <section class="page-header">
        <h1>Building Connections</h1>
        <div class="subtitle">
            <p class="large">subtitle</p>
        </div>
    </section>

    <section class="page-intro">
        <p class="large">
            We took something as trivial as extracting keywords from a
            transcript and turned it into a way for users to find meaningful,
            contextual value inside their conversations. I use the term "we"
            very loosely because the real, impactful work of extracting these
            immensely valuable "entities" was done by a group of intelligent and
            talented people in the AI team at Dubber.
        </p>
    </section>
</BaseLayout>
