---
import Hehe from "./Image/Hehe.astro";
const year = new Date().getFullYear();
---

<footer>
    <Hehe />
    <p class="large">
        I&rsquo;m a Naarm (Melbourne) based creative problem solver with over
        eighteen years of experience, a desire to do some good and an ass that
        just won&rsquo;t quit. I&rsquo;m currently looking for my next role so
        <a href="">let&rsquo;s see if we&rsquo;re a good fit</a>.
    </p>
    <p class="cr">&copy; Noureddine Made This &mdash; {year}</p>
</footer>
