---
import Logo from "./Logo.astro";

const year = new Date().getFullYear();
---

<footer>
    <p class="large">
        I&rsquo;m a Naarm (Melbourne) based creative problem solver with over
        seventeen years of experience, a desire to do some good and an ass that
        just won&rsquo;t quit. I&rsquo;m currently looking for my next role so
        <a href="">let&rsquo;s see if we&rsquo;re a good fit</a>.
    </p>
    <Logo style="footer" />
    <p class="small">&copy; {year}</p>
</footer>
