---
import Logo from "./Image/Logo.astro";
---

<header>
    <div class="block">
        <p>Noureddine Azhar</p>
        <p>Naarm (Melbourne)</p>
    </div>
    <Logo />
    <div class="block">
        <p>Product, Digital</p>
        <p>&amp; Brand Design</p>
    </div>
</header>
