---
import Logo from "./Image/Logo.astro";
---

<header>
    <div class="block">
        <video class="animated-border -a" autoplay loop muted playsinline>
            <source src="./asset/vid/regular-cloud.webm" type="video/webm" />
        </video>
        <p>Noureddine Azhar</p>
        <p>Naarm (Melbourne)</p>
    </div>
    <Logo />
    <div class="block">
        <video class="animated-border -b" autoplay loop muted playsinline>
            <source src="./asset/vid/regular-splash.webm" type="video/webm" />
        </video>
        <p>Product, Digital</p>
        <p>&amp; Brand Design</p>
    </div>
</header>
