---
import Logo from "./Logo.astro";
---

<header>
    <div class="block">
        <p>Noureddine Azhar</p>
        <p>Naarm, Melbourne</p>
    </div>
    <Logo style="new" />
    <div class="block">
        <p>Product, Digital</p>
        <p>&amp; Brand Design</p>
    </div>
</header>
