---
import Logo from "./Image/Logo.astro";
---

<header>
    <div class="block">
        <p>Noureddine<br />Azhar</p>
    </div>
    <div class="block">
        <p>Naarm<br />(Melbourne)</p>
    </div>
    <Logo />
    <div class="block">
        <p>Product<br />Digital &amp; Brand</p>
    </div>
    <div class="block">
        <p>+18 Years<br />Of Experience</p>
    </div>
</header>
