---
const { style } = Astro.props;
const logoClass = `logo ${style}`;
---

<a href="/" class={logoClass}>
    <svg
        class="regular"
        viewBox="0 0 72 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M70.0287 8.9012e-05C68.649 8.9012e-05 66.5907 1.03786 66.6863 2.41524C66.912 5.66652 68.1713 8.64325 64.8827 10.5678C64.4092 10.8452 62.8618 11.6195 62.781 11.6195C62.7636 11.6195 62.6656 11.66 62.5558 11.712C60.2346 12.7694 56.6072 14.1086 53.4257 14.2357C51.376 14.3224 49.0086 14.045 47.5825 13.5538C45.7001 12.9067 43.8063 11.2194 42.2127 8.74625C41.133 7.07048 40.5706 6.04952 40.0856 4.75517C39.8127 4.02708 38.8756 2.11194 38.2806 2.99092C38.2345 3.06605 37.8187 4.07149 37.3568 5.22139C36.4618 7.46341 36.4041 7.56742 35.6073 8.42266C30.5961 13.7766 25.9489 8.89933 22.193 5.14049C20.8014 3.75945 20.097 3.11805 18.7863 2.04905C17.6892 1.15917 15.9224 0.33864 14.5252 0.067055C13.1278 -0.20453 11.3951 0.394047 10.2582 1.05084C8.53033 2.04905 7.82555 3.59912 6.30231 3.39434C3.2448 2.98332 -1.41878 7.00427 2.23274 7.62629C5.1771 8.62741 3.95003 13.1918 4.04541 16.5644C4.10068 18.4401 5.69849 20.0112 7.57344 19.9947C8.33744 19.988 10.0553 19.9812 10.7915 19.9759C11.7916 19.9687 12.4696 18.5837 12.1075 17.6507C10.7609 14.1807 7.72306 7.27881 11.6555 6.33373C16.2745 5.21796 17.2131 8.80625 19.8891 11.7567C24.9281 17.3013 32.2858 19.0447 36.2309 11.1269C37.082 9.44425 37.2796 11.5297 37.9457 12.6813C39.6606 15.663 41.0926 17.2 43.0904 18.2055C49.0821 21.2407 58.0882 20.2151 63.79 16.7088C71.7401 11.6493 72.0769 8.9012e-05 70.0721 8.9012e-05C70.0575 8.9012e-05 70.043 8.9012e-05 70.0287 8.9012e-05Z"
            fill="#11FF00"></path>
        <path
            d="M53.9122 1.77891C53.2596 2.09614 52.7271 4.39275 52.7271 5.16072C52.7271 6.70578 54.824 7.1326 56.0082 7.1326C57.5146 7.1326 57.7225 5.09993 57.7014 3.91836C57.667 2.32039 55.403 1.01385 53.9122 1.77891Z"
            fill="#11FF00"></path>
    </svg>
    <svg
        class="thick"
        viewBox="0 0 72 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M69.0577 0.000206266C70.3962 0.000458086 71.114 1.00851 71.3999 1.57822C71.7129 2.2021 71.8666 2.93617 71.94 3.62713C72.0906 5.04622 71.9603 6.86221 71.5212 8.77057C70.6451 12.577 68.4225 17.2198 64.0037 20.0723L63.979 20.0876C60.9195 21.9959 57.0504 23.1908 53.1898 23.5233C49.3383 23.855 45.3187 23.3421 42.0064 21.6416C39.7669 20.4984 38.2044 18.7984 36.5857 16.0821C34.4678 18.9648 31.6654 20.3085 28.602 20.1626C25.0309 19.9923 21.5768 17.8135 18.9318 14.8616L18.9309 14.8606C18.1998 14.0431 17.5931 13.1877 17.088 12.4869C16.5544 11.7465 16.1459 11.1971 15.7207 10.7734C14.1167 9.17503 12.1219 10.0228 12.5835 12.4677C12.9643 14.4841 13.9327 16.813 14.6263 18.6259C15.0525 19.7397 14.8284 20.9167 14.3838 21.756C11.9405 26.3661 3.19696 23.1994 3.05542 18.327V18.3251C3.02937 17.3897 3.09406 16.3898 3.14638 15.5141C3.20131 14.5947 3.24405 13.793 3.21365 13.0818C3.13286 11.1942 2.29932 11.6244 1.07324 10.6532C0.456507 10.1647 0.0561654 9.45524 0.00540357 8.63026C-0.0400997 7.88706 0.209466 7.25037 0.464943 6.79949C0.728612 6.33431 1.0771 5.92402 1.43708 5.57898C2.15631 4.88976 3.09868 4.28641 4.0882 3.87892C5.05606 3.48045 6.23952 3.2002 7.41963 3.35516C7.4681 3.33101 7.5757 3.2666 7.78536 3.08896C8.14801 2.78158 9.02244 1.90228 10.0527 1.29856C11.3145 0.559297 13.5 -0.298508 15.5331 0.102075C17.0929 0.409708 18.9561 1.25875 20.2659 2.25478L20.5198 2.4566L20.5246 2.45948C21.8532 3.55858 22.5833 4.23443 23.9697 5.62992L24.687 6.35742C26.3341 8.01856 27.8826 9.49165 29.4529 10.2112C30.2832 10.5916 31.0011 10.6989 31.6701 10.5648C33.7511 10.1472 34.8018 8.18402 35.5131 6.37664L35.515 6.3728C36.005 5.13572 36.4153 3.36328 37.7767 2.85927C38.381 2.63573 38.9553 2.71237 39.3856 2.87945C40.1043 3.15864 40.5593 3.7369 40.7604 4.01058C41.2459 4.6713 41.6157 5.51304 41.7799 5.95763C42.1803 7.04129 42.6425 7.91118 43.6579 9.5096C45.073 11.7371 46.6054 13.0047 47.8677 13.445L47.8686 13.446C48.9576 13.8263 50.9975 14.0893 52.8241 14.0111H52.8288C55.8291 13.8893 64.033 12.9907 64.2377 8.75039C64.2616 8.25408 64.2098 7.67789 64.1155 6.93308C64.0496 6.41258 63.959 5.78653 63.8928 5.13691C63.7445 3.39861 64.3068 1.96589 65.8115 0.990067C66.7446 0.385109 67.9373 0.000297137 69.015 0.000206266H69.0577Z"
            fill="#11FF00"></path>
        <path
            d="M51.4756 0.481727C52.948 -0.264876 54.5555 0.086833 55.6522 0.720062C60.5672 3.55864 57.069 11.4141 51.5448 8.91568C48.4842 7.53113 48.4012 1.9956 51.4756 0.479808V0.481727Z"
            fill="#11FF00"></path>
    </svg>
    <svg
        viewBox="0 0 104 62"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="new"
    >
        <path
            d="M92.8557 9.93761C93.6557 8.88952 94.9967 8.35876 96.1992 8.8736C104.166 12.2844 106.815 24.3261 100.431 30.6065C92.1518 38.7515 85.5105 37.5453 84.686 48.8805C84.5142 51.4541 83.8523 53.774 82.7009 55.8388C81.569 57.8471 79.9702 59.3554 77.9039 60.3631C76.2131 61.1875 74.0605 61.7212 71.4472 61.9621C71.2962 61.9737 71.1469 61.9841 70.9995 61.9934C68.3948 62.1567 67.6026 59.2672 69.4804 57.4246C70.7847 56.1447 72.1389 54.7793 73.5431 53.3285C75.4328 51.3533 79.1769 48.7499 79.9956 46.1062C80.4922 44.5025 78.4852 43.8715 76.9942 44.5983L76.9259 44.6316C75.4983 45.3278 74.2532 45.676 73.1908 45.6774C72.1105 45.6404 71.3807 45.2214 71.0021 44.4196C70.5518 43.4649 70.4562 41.9377 70.7134 39.8398C70.9709 37.7415 71.5052 35.7416 72.3184 33.8419C73.607 30.7019 75.6042 29.5245 77.7856 30.7197C79.2318 31.512 80.9555 32.0081 82.4267 31.265C90.4529 27.2113 102.374 22.5467 93.2858 16.4154C91.4579 15.1821 90.787 12.648 92.132 10.8858L92.8557 9.93761Z"
            fill="#008013"></path>
        <path
            d="M67.1453 38.7358C67.7107 38.5873 68.2881 38.9381 68.4045 39.5199C68.8949 41.97 69.0747 44.4607 68.9445 46.992C68.7955 49.8871 68.0962 52.5292 66.8461 54.9185C65.6189 57.2526 63.7504 58.938 61.2403 59.9727C59.5411 60.6731 57.3329 61.0562 54.6171 61.1244C54.4546 61.1261 54.2946 61.1268 54.1369 61.1263C51.5536 61.1191 50.9558 58.2869 52.9076 56.5661C54.7307 54.9586 56.6088 53.2193 58.5416 51.3482C62.409 47.6045 66.0837 44.9859 66.3323 39.7914C66.3559 39.2981 66.675 38.8593 67.1453 38.7358Z"
            fill="#008013"></path>
        <path
            d="M59.1205 16.1958C60.6152 14.4087 63.0161 15.1875 63.2915 17.5167C63.4268 18.6613 63.5574 19.9873 63.6833 21.4946C64.0583 25.9419 64.2454 30.1986 64.2454 34.2646C64.2454 35.1541 64.0996 36.468 63.8079 38.2046C63.5162 39.8987 63.0788 41.5932 62.4955 43.2873C61.9538 44.9813 61.2867 46.2522 60.495 47.0993C59.0366 48.4122 57.078 49.5348 54.6196 50.4666C40.2477 55.6661 42.106 39.7449 37.5122 47.5892C36.4705 49.3255 35.5957 50.5754 34.8873 51.3378C32.6372 53.8791 29.907 55.1496 26.6986 55.1498C24.8236 55.1498 22.6145 54.6841 20.0728 53.7525C19.9523 53.7055 19.8333 53.6584 19.7158 53.6111C17.2544 52.6192 17.7639 49.6194 20.279 48.7781C22.6132 47.9973 25.0028 47.1352 27.4476 46.1918C34.4491 43.4496 38.1548 40.6188 42.546 35.5573C43.769 34.1477 45.9936 33.8937 46.7128 35.6253C48.3792 39.6371 45.7565 43.8445 54.8065 41.8253C61.0027 40.3257 59.0974 37.1238 57.7443 31.2786C57.0593 28.3196 56.3603 25.6753 55.6472 23.3457C55.36 22.4074 55.4484 21.3835 55.9639 20.5523C56.7765 19.2421 57.683 17.9672 58.6828 16.7287C58.8297 16.5467 58.9756 16.3691 59.1205 16.1958Z"
            fill="#008013"></path>
        <path
            d="M50.4125 4.54605C51.0024 4.4027 51.5889 4.79938 51.6737 5.41007C52.3133 10.0126 52.3298 14.3482 51.7233 18.4165C51.5823 19.3623 51.0293 20.2006 50.1801 20.6125C44.8246 23.2101 37.0956 23.0247 35.7317 28.8472C32.8869 40.1728 15.3242 47.9106 5.16552 43.8832C2.76666 42.9066 1.10731 41.2467 0.188372 38.9037C0.0580812 38.5715 0.000354385 38.2152 1.54002e-05 37.8575C-0.00582519 31.6955 1.65023 25.4902 3.96057 19.794C4.41483 18.674 5.43903 17.8955 6.628 17.8166C7.05428 17.7883 7.48763 17.7675 7.92805 17.7542C9.83243 17.6964 11.2852 19.3859 11.1462 21.3179L11.0569 22.5599C10.9149 24.5343 9.08854 25.78 7.24305 26.411C2.20806 28.1326 6.08161 36.256 14.1249 34.032C22.2529 31.7844 38.0481 26.648 28.5931 20.4036C26.9445 19.3148 26.1414 17.1741 27.0555 15.4046L28.2523 13.088C29.1467 11.3566 31.2682 10.7375 33.0004 11.5878C39.9331 14.9909 49.8876 17.7105 49.5977 5.66017C49.5853 5.14415 49.9187 4.66603 50.4125 4.54605Z"
            fill="#008013"></path>
        <path
            d="M69.8046 0.674987C71.4635 -0.7659 73.7926 0.228552 73.9375 2.44208C74.2564 7.3146 73.4059 12.694 73.084 17.1656C72.5828 24.0712 71.0138 28.904 68.4126 35.1269C68.2291 35.5658 67.7391 35.7816 67.2982 35.6187C66.9451 35.4882 66.7116 35.1458 66.714 34.7637C66.7392 30.8246 66.633 26.1237 66.3959 20.6609C66.1718 15.4604 65.8812 10.787 65.5234 6.64105C65.4449 5.73144 65.711 4.8205 66.3101 4.14035C67.2366 3.08866 68.2443 2.07229 69.3336 1.09161C69.4923 0.94872 69.6493 0.809847 69.8046 0.674987Z"
            fill="#008013"></path>
        <path
            d="M45.9107 24.9731C47.0849 23.6057 49.1269 23.5244 50.4458 24.7482C51.8094 26.014 52.0284 28.1964 50.8031 29.6008L50.6492 29.7766C49.7016 30.8623 48.1631 31.2365 46.9739 30.4333C46.6575 30.2193 46.2239 30.3533 46.0115 30.6737C45.9383 30.784 45.8574 30.8908 45.7683 30.993L45.6144 31.1688C44.6669 32.2547 43.1284 32.6287 41.9391 31.8254C41.6385 31.6222 41.3312 31.4015 41.0209 31.1623C39.5863 30.0559 39.5244 27.9401 40.7081 26.5605L40.8747 26.3666C41.776 25.3166 43.1875 25.0259 44.3916 25.5011C44.8482 25.6814 45.4209 25.5437 45.7429 25.1683L45.9107 24.9731Z"
            fill="#008013"></path>
        <path
            d="M15.2504 21.2658C16.4348 19.8855 18.4952 19.8035 19.8261 21.0383C21.2021 22.3154 21.4235 24.5166 20.1873 25.9336L20.0321 26.1107C19.0761 27.2062 17.5249 27.5843 16.325 26.7738C16.0214 26.5685 15.7113 26.3446 15.3979 26.1029C13.9508 24.9866 13.8872 22.8528 15.0813 21.461L15.2504 21.2658Z"
            fill="#008013"></path>
        <path
            d="M79.7809 19.1666C80.9144 17.2247 83.3957 16.6598 85.2799 17.8559C87.2276 19.0924 87.9784 21.7087 86.7908 23.7064L86.6407 23.9571C85.7217 25.5021 83.9238 26.3127 82.2914 25.6014C81.8783 25.4213 81.455 25.2196 81.0222 24.9977C79.0226 23.9722 78.4779 21.3998 79.6207 19.4419L79.7809 19.1666Z"
            fill="#008013"></path>
    </svg>
    <svg
        class="footer"
        viewBox="0 0 120 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M9.10606 35.2308L8.62384 36.0245L1.72399 36.2526L6.60426 39.3499L6.14684 40.1016L0 36.2005L0.48744 35.3982L7.35793 35.1628L2.50245 32.0814L2.95923 31.3291L9.10606 35.2308Z"
            fill="#008013"></path>
        <path
            d="M116.61 32.2708C117.583 31.6535 118.686 32.0882 119.483 33.4C120.259 34.6783 120.154 35.8106 119.216 36.7648L118.58 36.0912C119.214 35.4573 119.278 34.7226 118.745 33.8455C118.248 33.0268 117.627 32.714 117.096 33.0512C116.606 33.3624 116.529 34.0013 116.895 35.4242C117.383 37.2906 117.134 38.2596 116.276 38.8043C115.205 39.4838 113.967 39.0305 113.125 37.6438C112.282 36.2569 112.429 34.971 113.545 33.9736L114.148 34.6319C113.365 35.3373 113.261 36.1909 113.835 37.1349C114.388 38.0455 115.198 38.4109 115.803 38.0273C116.335 37.6901 116.404 36.9632 116.016 35.5423C115.537 33.8209 115.76 32.8104 116.61 32.2708Z"
            fill="#008013"></path>
        <path
            d="M116.317 28.9554L110.512 33.3713L109.983 32.6457L115.788 28.2297L116.317 28.9554Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.55532 26.1729C7.91049 24.4726 10.0908 24.4619 11.7469 25.8407C13.4327 27.2445 13.7477 29.4343 12.4411 31.0737C11.1285 32.7206 8.95448 32.8635 7.26854 31.4598C5.60496 30.0747 5.19406 27.8808 6.55532 26.1729ZM11.1563 26.5664C9.85835 25.4857 8.22949 25.4739 7.22678 26.7318C6.22406 27.9899 6.55843 29.626 7.85647 30.7068C9.18428 31.8123 10.8228 31.7177 11.7769 30.5207C12.7248 29.3313 12.4915 27.6782 11.1563 26.5664Z"
            fill="#008013"></path>
        <path
            d="M111.032 22.4392L108.703 24.5575L111.326 27.5701L113.655 25.4512L114.23 26.1128L108.825 31.0296L108.25 30.368L110.693 28.145L108.07 25.1331L105.627 27.356L105.051 26.6951L110.456 21.7783L111.032 22.4392Z"
            fill="#008013"></path>
        <path
            d="M18.0392 20.8399C19.3268 22.2348 19.2495 23.7559 17.9687 24.991C16.695 26.2193 15.2461 26.1972 13.9387 24.7809L10.8483 21.4335L11.4852 20.8192L14.5756 24.1667C15.5 25.1681 16.4791 25.2112 17.3749 24.3474C18.2915 23.4633 18.3267 22.4555 17.4023 21.4541L14.3054 18.0994L14.9423 17.4851L18.0392 20.8399Z"
            fill="#008013"></path>
        <path
            d="M108.685 19.9635L108.116 20.6171L106.261 18.9304L102.02 23.8012L101.373 23.2129L105.614 18.3421L103.76 16.6554L104.329 16.0011L108.685 19.9635Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M19.3782 13.9209C20.4973 13.0697 21.761 13.2243 22.479 14.2103C22.9672 14.8809 23.0162 15.6892 22.5632 16.4506C23.6259 16.3287 24.1069 17.5321 25.7051 18.3268L24.9175 18.9257C23.8188 18.3884 22.7012 16.6402 21.6516 17.4384L20.1234 18.6009L21.9851 21.1574L21.2901 21.6862L16.9697 15.753L19.3782 13.9209ZM21.7462 14.7186C21.3211 14.1348 20.5842 14.0951 19.8741 14.6352L18.1756 15.9271L19.6118 17.8993L21.3103 16.6074C21.9972 16.0848 22.177 15.3102 21.7462 14.7186Z"
            fill="#008013"></path>
        <path
            d="M99.907 12.621L99.447 13.3593L95.924 11.0683L94.7253 12.9931L97.9807 15.1101L97.5207 15.8491L94.2659 13.7315L92.9641 15.8224L96.5602 18.1614L96.0956 18.9084L91.7686 16.0945L95.6532 9.85445L99.907 12.621Z"
            fill="#008013"></path>
        <path
            d="M28.2879 9.15615L24.6767 11.3004L25.7978 13.2733L29.1342 11.2924L29.5642 12.0494L26.2278 14.0303L27.4461 16.1732L31.1316 13.9849L31.5668 14.7499L27.1322 17.3831L23.4976 10.9876L27.8578 8.39983L28.2879 9.15615Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M90.277 6.98254C92.2969 7.97625 92.7714 9.78095 91.8202 11.8013C90.8855 13.7863 89.159 14.6398 87.1389 13.6461L84.8414 12.5163L87.9794 5.85205L90.277 6.98254ZM85.9931 12.1114L87.3628 12.7851C88.9233 13.5527 90.221 13.1105 91.0221 11.4091C91.8358 9.68109 91.3188 8.46588 89.7582 7.69819L88.3885 7.02456L85.9931 12.1114Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M32.6402 6.07548C34.6984 5.16721 36.3429 5.98387 37.2125 8.04234C38.0669 10.0648 37.5663 11.9567 35.5081 12.8651L33.1675 13.8982L30.299 7.1086L32.6402 6.07548ZM36.4001 8.40116C35.6563 6.64056 34.4195 6.24351 32.8295 6.94519L31.4337 7.56146L33.6229 12.7437L35.0187 12.1281C36.6087 11.4264 37.1324 10.1346 36.4001 8.40116Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M82.9967 3.94456L83.3477 11.8707L82.4727 11.5685L82.3735 9.28287L79.3556 8.24242L77.9317 10.0045L77.0384 9.69639L82.0303 3.61175L82.9967 3.94456ZM79.9546 7.53612L82.3161 8.34914L82.1875 4.7976L79.9546 7.53612Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M40.5985 3.08619C42.7509 2.44505 44.2842 3.46323 44.898 5.61595C45.5011 7.73092 44.7757 9.54545 42.6233 10.1866L40.175 10.9156L38.1509 3.81517L40.5985 3.08619ZM44.0484 5.8694C43.5234 4.0283 42.3441 3.47798 40.6814 3.97324L39.2217 4.4081L40.7668 9.82711L42.2266 9.39292C43.8892 8.89764 44.5651 7.68201 44.0484 5.8694Z"
            fill="#008013"></path>
        <path
            d="M71.5239 0.979276L72.7187 7.46942L76.1712 1.90368L77.2479 2.11844L75.8645 9.37758L75.0149 9.20884L76.0772 3.62909L72.8805 8.78399L72.087 8.62592L70.9777 2.61398L69.9147 8.19374L69.0645 8.02433L70.4472 0.765183L71.5239 0.979276Z"
            fill="#008013"></path>
        <path
            d="M48.7962 8.64526L47.9277 8.81867L46.545 1.55886L47.4135 1.38612L48.7962 8.64526Z"
            fill="#008013"></path>
        <path
            d="M56.2573 7.61415L55.3483 7.71486L50.9222 2.29985L51.5414 8.13704L50.6801 8.23242L49.901 0.879233L50.8191 0.777856L55.2328 6.16486L54.6168 0.357007L55.4775 0.261632L56.2573 7.61415Z"
            fill="#008013"></path>
        <path
            d="M63.792 0.160922L63.7816 1.03663L59.6061 0.98728L59.5806 3.26827L63.4384 3.31429L63.4286 4.18933L59.5708 4.14398L59.5421 6.62172L63.8044 6.67241L63.7947 7.55746L58.6664 7.49677L58.7506 0.101562L63.792 0.160922Z"
            fill="#008013"></path>
    </svg>
</a>
