---

---

<a href="/" class="logo">
    <svg
        width="72"
        height="20"
        viewBox="0 0 72 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M70.0287 8.9012e-05C68.649 8.9012e-05 66.5907 1.03786 66.6863 2.41524C66.912 5.66652 68.1713 8.64325 64.8827 10.5678C64.4092 10.8452 62.8618 11.6195 62.781 11.6195C62.7636 11.6195 62.6656 11.66 62.5558 11.712C60.2346 12.7694 56.6072 14.1086 53.4257 14.2357C51.376 14.3224 49.0086 14.045 47.5825 13.5538C45.7001 12.9067 43.8063 11.2194 42.2127 8.74625C41.133 7.07048 40.5706 6.04952 40.0856 4.75517C39.8127 4.02708 38.8756 2.11194 38.2806 2.99092C38.2345 3.06605 37.8187 4.07149 37.3568 5.22139C36.4618 7.46341 36.4041 7.56742 35.6073 8.42266C30.5961 13.7766 25.9489 8.89933 22.193 5.14049C20.8014 3.75945 20.097 3.11805 18.7863 2.04905C17.6892 1.15917 15.9224 0.33864 14.5252 0.067055C13.1278 -0.20453 11.3951 0.394047 10.2582 1.05084C8.53033 2.04905 7.82555 3.59912 6.30231 3.39434C3.2448 2.98332 -1.41878 7.00427 2.23274 7.62629C5.1771 8.62741 3.95003 13.1918 4.04541 16.5644C4.10068 18.4401 5.69849 20.0112 7.57344 19.9947C8.33744 19.988 10.0553 19.9812 10.7915 19.9759C11.7916 19.9687 12.4696 18.5837 12.1075 17.6507C10.7609 14.1807 7.72306 7.27881 11.6555 6.33373C16.2745 5.21796 17.2131 8.80625 19.8891 11.7567C24.9281 17.3013 32.2858 19.0447 36.2309 11.1269C37.082 9.44425 37.2796 11.5297 37.9457 12.6813C39.6606 15.663 41.0926 17.2 43.0904 18.2055C49.0821 21.2407 58.0882 20.2151 63.79 16.7088C71.7401 11.6493 72.0769 8.9012e-05 70.0721 8.9012e-05C70.0575 8.9012e-05 70.043 8.9012e-05 70.0287 8.9012e-05Z"
            fill="#11FF00"></path>
        <path
            d="M53.9122 1.77891C53.2596 2.09614 52.7271 4.39275 52.7271 5.16072C52.7271 6.70578 54.824 7.1326 56.0082 7.1326C57.5146 7.1326 57.7225 5.09993 57.7014 3.91836C57.667 2.32039 55.403 1.01385 53.9122 1.77891Z"
            fill="#11FF00"></path>
    </svg>
</a>
