---
const { style } = Astro.props;
const logoClass = `logo ${style}`;
---

<a href="/" class={logoClass}>
    <svg
        class="regular"
        width="72"
        height="20"
        viewBox="0 0 72 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M70.0287 8.9012e-05C68.649 8.9012e-05 66.5907 1.03786 66.6863 2.41524C66.912 5.66652 68.1713 8.64325 64.8827 10.5678C64.4092 10.8452 62.8618 11.6195 62.781 11.6195C62.7636 11.6195 62.6656 11.66 62.5558 11.712C60.2346 12.7694 56.6072 14.1086 53.4257 14.2357C51.376 14.3224 49.0086 14.045 47.5825 13.5538C45.7001 12.9067 43.8063 11.2194 42.2127 8.74625C41.133 7.07048 40.5706 6.04952 40.0856 4.75517C39.8127 4.02708 38.8756 2.11194 38.2806 2.99092C38.2345 3.06605 37.8187 4.07149 37.3568 5.22139C36.4618 7.46341 36.4041 7.56742 35.6073 8.42266C30.5961 13.7766 25.9489 8.89933 22.193 5.14049C20.8014 3.75945 20.097 3.11805 18.7863 2.04905C17.6892 1.15917 15.9224 0.33864 14.5252 0.067055C13.1278 -0.20453 11.3951 0.394047 10.2582 1.05084C8.53033 2.04905 7.82555 3.59912 6.30231 3.39434C3.2448 2.98332 -1.41878 7.00427 2.23274 7.62629C5.1771 8.62741 3.95003 13.1918 4.04541 16.5644C4.10068 18.4401 5.69849 20.0112 7.57344 19.9947C8.33744 19.988 10.0553 19.9812 10.7915 19.9759C11.7916 19.9687 12.4696 18.5837 12.1075 17.6507C10.7609 14.1807 7.72306 7.27881 11.6555 6.33373C16.2745 5.21796 17.2131 8.80625 19.8891 11.7567C24.9281 17.3013 32.2858 19.0447 36.2309 11.1269C37.082 9.44425 37.2796 11.5297 37.9457 12.6813C39.6606 15.663 41.0926 17.2 43.0904 18.2055C49.0821 21.2407 58.0882 20.2151 63.79 16.7088C71.7401 11.6493 72.0769 8.9012e-05 70.0721 8.9012e-05C70.0575 8.9012e-05 70.043 8.9012e-05 70.0287 8.9012e-05Z"
            fill="#11FF00"></path>
        <path
            d="M53.9122 1.77891C53.2596 2.09614 52.7271 4.39275 52.7271 5.16072C52.7271 6.70578 54.824 7.1326 56.0082 7.1326C57.5146 7.1326 57.7225 5.09993 57.7014 3.91836C57.667 2.32039 55.403 1.01385 53.9122 1.77891Z"
            fill="#11FF00"></path>
    </svg>
    <svg
        class="thick"
        width="72"
        height="24"
        viewBox="0 0 72 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M69.0577 0.000206266C70.3962 0.000458086 71.114 1.00851 71.3999 1.57822C71.7129 2.2021 71.8666 2.93617 71.94 3.62713C72.0906 5.04622 71.9603 6.86221 71.5212 8.77057C70.6451 12.577 68.4225 17.2198 64.0037 20.0723L63.979 20.0876C60.9195 21.9959 57.0504 23.1908 53.1898 23.5233C49.3383 23.855 45.3187 23.3421 42.0064 21.6416C39.7669 20.4984 38.2044 18.7984 36.5857 16.0821C34.4678 18.9648 31.6654 20.3085 28.602 20.1626C25.0309 19.9923 21.5768 17.8135 18.9318 14.8616L18.9309 14.8606C18.1998 14.0431 17.5931 13.1877 17.088 12.4869C16.5544 11.7465 16.1459 11.1971 15.7207 10.7734C14.1167 9.17503 12.1219 10.0228 12.5835 12.4677C12.9643 14.4841 13.9327 16.813 14.6263 18.6259C15.0525 19.7397 14.8284 20.9167 14.3838 21.756C11.9405 26.3661 3.19696 23.1994 3.05542 18.327V18.3251C3.02937 17.3897 3.09406 16.3898 3.14638 15.5141C3.20131 14.5947 3.24405 13.793 3.21365 13.0818C3.13286 11.1942 2.29932 11.6244 1.07324 10.6532C0.456507 10.1647 0.0561654 9.45524 0.00540357 8.63026C-0.0400997 7.88706 0.209466 7.25037 0.464943 6.79949C0.728612 6.33431 1.0771 5.92402 1.43708 5.57898C2.15631 4.88976 3.09868 4.28641 4.0882 3.87892C5.05606 3.48045 6.23952 3.2002 7.41963 3.35516C7.4681 3.33101 7.5757 3.2666 7.78536 3.08896C8.14801 2.78158 9.02244 1.90228 10.0527 1.29856C11.3145 0.559297 13.5 -0.298508 15.5331 0.102075C17.0929 0.409708 18.9561 1.25875 20.2659 2.25478L20.5198 2.4566L20.5246 2.45948C21.8532 3.55858 22.5833 4.23443 23.9697 5.62992L24.687 6.35742C26.3341 8.01856 27.8826 9.49165 29.4529 10.2112C30.2832 10.5916 31.0011 10.6989 31.6701 10.5648C33.7511 10.1472 34.8018 8.18402 35.5131 6.37664L35.515 6.3728C36.005 5.13572 36.4153 3.36328 37.7767 2.85927C38.381 2.63573 38.9553 2.71237 39.3856 2.87945C40.1043 3.15864 40.5593 3.7369 40.7604 4.01058C41.2459 4.6713 41.6157 5.51304 41.7799 5.95763C42.1803 7.04129 42.6425 7.91118 43.6579 9.5096C45.073 11.7371 46.6054 13.0047 47.8677 13.445L47.8686 13.446C48.9576 13.8263 50.9975 14.0893 52.8241 14.0111H52.8288C55.8291 13.8893 64.033 12.9907 64.2377 8.75039C64.2616 8.25408 64.2098 7.67789 64.1155 6.93308C64.0496 6.41258 63.959 5.78653 63.8928 5.13691C63.7445 3.39861 64.3068 1.96589 65.8115 0.990067C66.7446 0.385109 67.9373 0.000297137 69.015 0.000206266H69.0577Z"
            fill="#11FF00"></path>
        <path
            d="M51.4756 0.481727C52.948 -0.264876 54.5555 0.086833 55.6522 0.720062C60.5672 3.55864 57.069 11.4141 51.5448 8.91568C48.4842 7.53113 48.4012 1.9956 51.4756 0.479808V0.481727Z"
            fill="#11FF00"></path>
    </svg>
</a>
