---
const { page } = Astro.props;
---

<nav>
    <p>
        <a href="/" class={page === "work" ? "current" : ""}>Work</a>
    </p>
    <p>
        <a href="/info" class={page === "info" ? "current" : ""}>Info</a>
    </p>
    <p>
        <a href="/archive" class={page === "archive" ? "current" : ""}
            >Archive</a
        >
    </p>
</nav>
