---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
    title="The online portfolio of Noureddine Azhar"
    description="I'm a Naarm (Melbourne) based creative problem solver with over eighteen years of experience, a desire to do some good and an ass that just won't quit."
    page="work"
>
    <section class="page-header">
        <h1>
            Hey Assembly Four, I&rsquo;m Noureddine. An end-to-end, hands-on design leader and I&rsquo;d love to be your Head of Product &amp; Design.
        </h1>
    </section>
    <section class="intro">
        <p class="large">I&rsquo;ve spent over 18 years designing products that actually matter to the people who use them. Doing my best to work on things that actually change something for the people on the other end of it. <a href="../fit-check/">I think Assembly Four might be exactly that.</a></p>
    </section>
    <section class="specific">
        <div class="block -horizontal">
            <div class="item">
                <img src="./asset/img/001.svg" alt="➀" class="specific-image">
                <h3>Design leadership without the ego.</h3>
                <p>I build designers up, set high standards, and make hard calls. The work is better for it.</p>
            </div>
            <div class="item">
                <img src="./asset/img/002.svg" alt="➁" class="specific-image">
                <h3>Product &amp; Design, not versus.</h3>
                <p>I&rsquo;ve owned roadmaps, guided PMs, and sat in the room where priorities get set. Design doesn&rsquo;t exist in a vacuum.</p>
            </div>
            <div class="item">
                <img src="./asset/img/003.svg" alt="➂" class="specific-image">
                <h3>Engineering as a first language.</h3>
                <p>I started my career as an engineer. I design with constraints in mind, not around them.</p>
            </div>
        </div>
    </section>
    <section class="intro">
        <h2>My work &amp; Portfolio</h2>
        <p class="large">My portfolio is currently a work in progress so instead of sharing old work I&rsquo;d love to have a chat and take you through my work and process. If you want to see some of my work, please get in touch and I can share some case studies that I&rsquo;m working on.</p>
    </section>
    <section class="work">
        <div class="block">
            <h2>Previously</h2>
            <div class="item">
                <h3>Product Design Lead <span>@Dubber</span></h3>
                <h3>Head of Design <span>@Simple Online Healthcare</span></h3>
                <h3>Lead Product Designer <span>@Echo (LloydsDirect)</span></h3>
                <h3>Senior Product Designer <span>@Verve</span></h3>
            </div>
        </div>
    </section>
</BaseLayout>
