---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Are we a good fit?"
    description="Before you get in touch, please read this page to make sure we're on the same page."
    page="fit-check"
>
    <section class="page-header">
        <h1>Let&rsquo;s make sure we are on the same page.</h1>
        <div class="subtitle">
            <p class="large">Before you get in touch, please read this page.</p>
        </div>
    </section>
    <section class="big-list">
        <div class="item">
            <h3>Ownership</h3>
            <p class="large">
                Give me creative freedom to solve problems without
                micromanagement.
            </p>
        </div>
        <div class="item">
            <h3>Flexibility</h3>
            <p class="large">
                Allow me to deliver good work, not to be in an office every day
                from 9 to 5.
            </p>
        </div>
        <div class="item">
            <h3>Culture</h3>
            <p class="large">
                Have a diverse team (including management) &amp; try and not be
                horrible.
            </p>
        </div>
        <div class="item">
            <h3>Compensation</h3>
            <p class="large">
                Pay me fairly &amp; competitivly, and please invest in my
                growth.
            </p>
        </div>
        <div class="item">
            <h3>Role</h3>
            <p class="large">
                Design lead, principal or head of at a company that values
                design.
            </p>
        </div>
        <div class="item">
            <h3>All good?</h3>
            <p class="large">
                If that all sounds good, let&rsquo;s talk!<a
                    href="mailto:me@noureddine.biz">me@nouredine.biz</a
                >
            </p>
        </div>
    </section>
</BaseLayout>
