// Animation

+keyframes(cursorRock)

    $t:     (rotate, translateX, translateY)
    $v1:    (0deg, 0, 0)
    $v2:    (20deg, 10px, 10px)
    $v3:    (-20deg, 0, 0)

    0%

        +transform($t, $v1)

    25%

        +transform($t, $v2)

    50%

        +transform($t, $v1)

    75%

        +transform($t, $v3)

    100%

        +transform($t, $v1)

+keyframes(arrowHover)

    0%

        opacity: 1

        +transform(translateX, 0)

    50%

        opacity: 0

        +transform(translateX, 5px)

    100%

        opacity: 1

        +transform(translateX, 0)

+keyframes(logo)

    0%

        fill: $primary

    10%

        fill: $primary

    11%

        fill: $secondary

    16%

        fill: $secondary

    17%

        fill: $primary

    95%

        fill: $primary

    96%

        fill: $secondary

    99%

        fill: $secondary

    100%

        fill: $primary