// Animation

+keyframes(arrowHover)

    0%

        opacity: 1

        +transform(translateX, 0)

    50%

        opacity: 0

        +transform(translateX, 5px)

    100%

        opacity: 1

        +transform(translateX, 0)

+keyframes(logo)

    0%

        fill: $primary

        +transform(rotate, 0deg)

    9%

        fill: $primary

    10%

        fill: $secondary

    19%

        fill: $secondary

    20%

        fill: $tertiary

    29%

        fill: $tertiary

    30%

        fill: $primary

    39%

        fill: $primary

    40%

        fill: $secondary

    49%

        fill: $secondary

    50%

        fill: $tertiary

    59%

        fill: $tertiary

    60%

        fill: $primary

    69%

        fill: $primary

    70%

        fill: $secondary

    79%

        fill: $secondary

    80%

        fill: $tertiary

    89%

        fill: $tertiary

    90%

        fill: $secondary

    99%

        fill: $secondary

    100%

        fill: $primary

        +transform(rotate, 360deg)

+keyframes(link)

    0%

        color: $link

    49%

        color: $link

    50%

        color: $hover

    99%

        color: $hover

    100%

        color: $link

+keyframes(cursorPointer)

    0%

        +transform(rotate, 0deg)

    25%

        +transform(rotate, 5deg)

    50%

        +transform(rotate, 0deg)

    75%

        +transform(rotate, -5deg)

    100%

        +transform(rotate, 0deg)

+keyframes(cursorLoading)

    0%

        +transform((translateY, translateX, rotate), (0, 0, 0deg))

    30%

        +transform((translateY, translateX, rotate), (0, 0, 0deg))

    100%

        +transform((translateY, translateX, rotate), (-22px, -9px, 180deg))