// Colours

@each $label, $colour in $palette

    %bg#{$label}

        background-color: $colour

        @if $label == Tertiary

            a:before

                background-color: $light !important

    %text#{$label}

        color: $colour

    %fill#{$label}

        fill: $colour