// General

html, body

    @extend %fontBase
    @extend %fontText
    
    background-color: $bg

body

    overflow-x: hidden

    // All

    *

        position: relative
        box-sizing: border-box