//

div.profileImg

    position: relative

    overflow: hidden

    // Children

    img

        position: relative
        z-index: 1

        // Pseudo

        &:last-child

            position: absolute
            z-index: 3

            top: 0
            left: 0