// Layout

main

    position: relative

    // Children

    hr

        display: block

        height: calc($globalSpace / 2)

        border: 0

    ul

        list-style: none

        // Children
        
        li

            display: block

            width: 100%

            margin-bottom: 20px

            // Responsive

            +screen($xs)

                margin-bottom: 10px

            // Children
            
            *

                margin-bottom: 0

//

@import 'layout/header', 'layout/nav', 'layout/footer', 'layout/section', 'layout/grid'