// Typography

h1, h2, h3

    @extend %fontHeading

h1

    font-size: $h1

    +screen($xs)

        font-size: 32px

h2

    font-size: $h2

    @extend %underline

a

    text-decoration: none

    @extend %tcPrimary

    // States

    &:hover

        background-color: $primary
        color: $light

    &:active

        background-color: transparent
        color: $link

p
    
    line-height: 1.6

    opacity: .8

    // Responsive

    +screen($sm)

        font-size: calc($fontBase - 2px)

    // Classes

    &.intro

        font-size: 36px

        opacity: 1

span

    // Classes

    &.bold

        @extend %fontBold
    
    &.underline

        @extend %underline