// Typography

h1, h2, h3

    @extend %fontHeading

h1

    @extend %tcPrimary

@each $label, $h in $headings

    #{$label}

        font-size: $h

//

a

    @extend %fontUnderline

    display: inline-block

    color: $link

    +transition((opacity, transform), ($animSpeed, $animSpeed))

    // States

    &:not(.noLinkHover):hover

        opacity: .6

        +transform(rotate, 3deg)

    &:not(.noLinkHover):active

        opacity: 1

        +transform(rotate, 0deg)

p

    line-height: 1.4

    // Classes

    &.intro

        font-size: calc($fontBase + 8px)

        // Responsive

        +screen($md)

            font-size: $fontBase

        +screen($sm)

            font-size: calc($fontBase - 2px)

ul

    // Variations

    &.general

        // Children

        li

            display: inline-block

            padding: 0 6px 0 0 

            background-color: transparent

            // Responsive

            +screen($sm)

                display: block

                padding: 4px 0

            // Children

            a

                display: inline-block

                width: auto !important 

    &.cases

        display: flex
        flex-direction: column
        gap: 16px

        // Children

        li

            display: flex
            justify-content: space-between
            gap: 16px

            width: 100%
            
            padding-left: 0
            padding-bottom: 16px

            border-bottom: 1px $dark solid

            // Responsive

            +screen($md)

                flex-direction: column

                // Children

                *

                    width: auto

            // Pseudo

            &:before

                display: none

            // Classes

            &.--featured
                
                @extend %fontSemiBold

            // Children

            .title

                flex-grow: 2

ol

    // Variations

    &.feature

        counter-reset: feature

        // Children

        > li
            
            display: flex
            flex-direction: column
            gap: calc($globalSpace / 4)

            margin-bottom: calc($globalSpace / 2)
            padding: calc($globalSpace / 2)

            border-radius: 10px

            background-color: rgba($dark, .05)

            // Responsive

            +screen($md)

                gap: calc($globalSpace / 6)

                padding: calc($globalSpace / 3)


            // Children

            h2, p

                margin: 0

            h2

                @extend %tcPrimary

                // Psuedo
            
                &:before
                    
                    counter-increment: feature
                    content: counter(feature)'.'

                    display: inline-block

//

span.crossed

    text-decoration: line-through