h1, h2, h3

    position: relative

    line-height: 1.1

    @extend %fontHead

h1

    font-size: $h1

    // Responsive

    +screen($md)

        font-size: $h1 / 1.4

    +screen($sm)

        font-size: $h1 / 2

    +screen($xs)

        font-size: $h1 / 2.5

    // Inner

    span

        display: inline
        position: relative

        color: $highlight

h2

    font-size: $h2

    // Responsive

    +screen($md)

        font-size: $h2 / 1.5

    +screen($sm)

        font-size: $h2 / 1.7

//

a

    position: relative

    color: $link

    border-bottom: 2px solid $link

    text-decoration: none

    cursor: none

    // States

    &:hover

        border-bottom-color: $hover
        color: $hover

p

    margin-bottom: $globalSpace / 2

    // Pseudo

    &:last-child

        margin-bottom: 0

    // Responisve

    +screen($md)

        font-size: $fontBase - 5px

    +screen($sm)

        font-size: $fontBase - 10px

//

strong

    @extend %bold