---

---

<div class="svg-img noureddine-made-this">
    <svg viewBox="0 0 120 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.10606 35.2308L8.62384 36.0245L1.72399 36.2526L6.60426 39.3499L6.14684 40.1016L0 36.2005L0.48744 35.3982L7.35793 35.1628L2.50245 32.0814L2.95923 31.3291L9.10606 35.2308Z"
            fill="#008013"></path>
        <path
            d="M116.61 32.2708C117.583 31.6535 118.686 32.0882 119.483 33.4C120.259 34.6783 120.154 35.8106 119.216 36.7648L118.58 36.0912C119.214 35.4573 119.278 34.7226 118.745 33.8455C118.248 33.0268 117.627 32.714 117.096 33.0512C116.606 33.3624 116.529 34.0013 116.895 35.4242C117.383 37.2906 117.134 38.2596 116.276 38.8043C115.205 39.4838 113.967 39.0305 113.125 37.6438C112.282 36.2569 112.429 34.971 113.545 33.9736L114.148 34.6319C113.365 35.3373 113.261 36.1909 113.835 37.1349C114.388 38.0455 115.198 38.4109 115.803 38.0273C116.335 37.6901 116.404 36.9632 116.016 35.5423C115.537 33.8209 115.76 32.8104 116.61 32.2708Z"
            fill="#008013"></path>
        <path
            d="M116.317 28.9554L110.512 33.3713L109.983 32.6457L115.788 28.2297L116.317 28.9554Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.55532 26.1729C7.91049 24.4726 10.0908 24.4619 11.7469 25.8407C13.4327 27.2445 13.7477 29.4343 12.4411 31.0737C11.1285 32.7206 8.95448 32.8635 7.26854 31.4598C5.60496 30.0747 5.19406 27.8808 6.55532 26.1729ZM11.1563 26.5664C9.85835 25.4857 8.22949 25.4739 7.22678 26.7318C6.22406 27.9899 6.55843 29.626 7.85647 30.7068C9.18428 31.8123 10.8228 31.7177 11.7769 30.5207C12.7248 29.3313 12.4915 27.6782 11.1563 26.5664Z"
            fill="#008013"></path>
        <path
            d="M111.032 22.4392L108.703 24.5575L111.326 27.5701L113.655 25.4512L114.23 26.1128L108.825 31.0296L108.25 30.368L110.693 28.145L108.07 25.1331L105.627 27.356L105.051 26.6951L110.456 21.7783L111.032 22.4392Z"
            fill="#008013"></path>
        <path
            d="M18.0392 20.8399C19.3268 22.2348 19.2495 23.7559 17.9687 24.991C16.695 26.2193 15.2461 26.1972 13.9387 24.7809L10.8483 21.4335L11.4852 20.8192L14.5756 24.1667C15.5 25.1681 16.4791 25.2112 17.3749 24.3474C18.2915 23.4633 18.3267 22.4555 17.4023 21.4541L14.3054 18.0994L14.9423 17.4851L18.0392 20.8399Z"
            fill="#008013"></path>
        <path
            d="M108.685 19.9635L108.116 20.6171L106.261 18.9304L102.02 23.8012L101.373 23.2129L105.614 18.3421L103.76 16.6554L104.329 16.0011L108.685 19.9635Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M19.3782 13.9209C20.4973 13.0697 21.761 13.2243 22.479 14.2103C22.9672 14.8809 23.0162 15.6892 22.5632 16.4506C23.6259 16.3287 24.1069 17.5321 25.7051 18.3268L24.9175 18.9257C23.8188 18.3884 22.7012 16.6402 21.6516 17.4384L20.1234 18.6009L21.9851 21.1574L21.2901 21.6862L16.9697 15.753L19.3782 13.9209ZM21.7462 14.7186C21.3211 14.1348 20.5842 14.0951 19.8741 14.6352L18.1756 15.9271L19.6118 17.8993L21.3103 16.6074C21.9972 16.0848 22.177 15.3102 21.7462 14.7186Z"
            fill="#008013"></path>
        <path
            d="M99.907 12.621L99.447 13.3593L95.924 11.0683L94.7253 12.9931L97.9807 15.1101L97.5207 15.8491L94.2659 13.7315L92.9641 15.8224L96.5602 18.1614L96.0956 18.9084L91.7686 16.0945L95.6532 9.85445L99.907 12.621Z"
            fill="#008013"></path>
        <path
            d="M28.2879 9.15615L24.6767 11.3004L25.7978 13.2733L29.1342 11.2924L29.5642 12.0494L26.2278 14.0303L27.4461 16.1732L31.1316 13.9849L31.5668 14.7499L27.1322 17.3831L23.4976 10.9876L27.8578 8.39983L28.2879 9.15615Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M90.277 6.98254C92.2969 7.97625 92.7714 9.78095 91.8202 11.8013C90.8855 13.7863 89.159 14.6398 87.1389 13.6461L84.8414 12.5163L87.9794 5.85205L90.277 6.98254ZM85.9931 12.1114L87.3628 12.7851C88.9233 13.5527 90.221 13.1105 91.0221 11.4091C91.8358 9.68109 91.3188 8.46588 89.7582 7.69819L88.3885 7.02456L85.9931 12.1114Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M32.6402 6.07548C34.6984 5.16721 36.3429 5.98387 37.2125 8.04234C38.0669 10.0648 37.5663 11.9567 35.5081 12.8651L33.1675 13.8982L30.299 7.1086L32.6402 6.07548ZM36.4001 8.40116C35.6563 6.64056 34.4195 6.24351 32.8295 6.94519L31.4337 7.56146L33.6229 12.7437L35.0187 12.1281C36.6087 11.4264 37.1324 10.1346 36.4001 8.40116Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M82.9967 3.94456L83.3477 11.8707L82.4727 11.5685L82.3735 9.28287L79.3556 8.24242L77.9317 10.0045L77.0384 9.69639L82.0303 3.61175L82.9967 3.94456ZM79.9546 7.53612L82.3161 8.34914L82.1875 4.7976L79.9546 7.53612Z"
            fill="#008013"></path>
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M40.5985 3.08619C42.7509 2.44505 44.2842 3.46323 44.898 5.61595C45.5011 7.73092 44.7757 9.54545 42.6233 10.1866L40.175 10.9156L38.1509 3.81517L40.5985 3.08619ZM44.0484 5.8694C43.5234 4.0283 42.3441 3.47798 40.6814 3.97324L39.2217 4.4081L40.7668 9.82711L42.2266 9.39292C43.8892 8.89764 44.5651 7.68201 44.0484 5.8694Z"
            fill="#008013"></path>
        <path
            d="M71.5239 0.979276L72.7187 7.46942L76.1712 1.90368L77.2479 2.11844L75.8645 9.37758L75.0149 9.20884L76.0772 3.62909L72.8805 8.78399L72.087 8.62592L70.9777 2.61398L69.9147 8.19374L69.0645 8.02433L70.4472 0.765183L71.5239 0.979276Z"
            fill="#008013"></path>
        <path
            d="M48.7962 8.64526L47.9277 8.81867L46.545 1.55886L47.4135 1.38612L48.7962 8.64526Z"
            fill="#008013"></path>
        <path
            d="M56.2573 7.61415L55.3483 7.71486L50.9222 2.29985L51.5414 8.13704L50.6801 8.23242L49.901 0.879233L50.8191 0.777856L55.2328 6.16486L54.6168 0.357007L55.4775 0.261632L56.2573 7.61415Z"
            fill="#008013"></path>
        <path
            d="M63.792 0.160922L63.7816 1.03663L59.6061 0.98728L59.5806 3.26827L63.4384 3.31429L63.4286 4.18933L59.5708 4.14398L59.5421 6.62172L63.8044 6.67241L63.7947 7.55746L58.6664 7.49677L58.7506 0.101562L63.792 0.160922Z"
            fill="#008013"></path>
    </svg>
</div>
