---
const { title, description, page } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.css";
// import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="stylesheet" href="/src/styles/main.css" />
    </head>
    <body>
        <main class={page}>
            <Header />
            <!-- <Nav page={page} /> -->
            <slot />
            <Footer />
        </main>
    </body>
</html>
